<style>
    body {
         display: flex;
         justify-content: center;
         align-items: center;
         min-height: 100vh;
         margin: 0;
         font-family: sans-serif;
     }
     .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 5pt 40pt 40pt 40pt;
         padding: 20px;
         border : none;
         max-width: 210mm; /* A4 width */
         box-sizing: border-box; /* Ensure padding and border are included in the width */
         font-size:14px;
     }
     .title {
         font-size: 14px;
         font-weight: bold;
         margin-bottom: 10px;
         text-align: center;
     }
     .info-table {
         max-width: 100%; /* Ensure the table does not exceed its container */
         width: 100%;
         border-collapse: collapse;
         table-layout: fixed; /* Ensure columns fit within the table */
         margin: auto; /* Center the table */
     }
     .info-table th,
     .info-table td {
         padding: 10px;
         border: 1px solid #000;
         text-align: left;
         word-wrap: break-word; /* Ensure text wraps within cells */
         overflow-wrap: break-word; /* Additional support for wrapping */
         vertical-align: top;

     }
     .info-table th {
         background-color: #f2f2f2;
         font-weight: bold;
     }
     /* Apply thicker border to the second column */
     .info-table th:nth-child(3),
     .info-table td:nth-child(3) {
      width: 55%; /* Adjust the percentage to your needs */
    }
    .info-table th:nth-child(1),
     .info-table td:nth-child(1) {
      width: 6%; /* Adjust the percentage to your needs */
    }
    /* Apply thicker border to the second column */
     .info-table th:nth-child(2),
     .info-table td:nth-child(2) {
      width: 24%; /* Adjust the percentage to your needs */
    }
    .info-table th:nth-child(4),
    .info-table td:nth-child(4) {
        width: 15%;
    }
     .disclaimer {
         font-size: 12px;
         margin-top: 10px;
         text-align: center;
     }
</style>
<body>
<div class="container">
    <h1 style="font-size: 14px;" class="title"><u>CUSTOMER INFORMATION SHEET / KNOW YOUR POLICY</u></h1>
    <p><strong>This document provides key information about your Rider. You are also advised to go through your Rider Contract.</strong></p>
    <table class="info-table">
        <tbody>
        <tr>
            <td style="text-align: center;"><strong>SI No</strong></td>
            <td style="text-align: center;"><strong>Title</strong></td>
            <td style="text-align: center;">
                <span style="font-weight: bold;">Description</span><br>
                <span style="font-weight: normal;">(Please refer to applicable Rider Clause Number in next column)</span>
            </td>
            <td style="text-align: center;"><strong>Rider Clause Number</strong></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Name	of Insurance Product / Rider UIN </td>
            <td style="text-align: center;">
                <span style="font-weight: bold;" th:text="${riderName}"></span><br>
                <span>(A Non-Linked Non-Participating Individual Pure Risk Health Insurance Rider)</span><br>
                UIN:<span th:text="${UIN}"></span>
            </td>
            <td>Preamble</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Policy Number</td>
            <td style="text-align: center;"><span th:text="${policyNumber}"></span></td>
            <td>Schedule</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Type of Insurance Product / Rider</td>
            <td>Benefit Rider</td>
            <td>Preamble</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Rider Sum Insured (Along with amount) </td>
            <td>
                 Rider Sum Assured - <span th:text="${sumAssuredOnDeath}"></span><br>
            </td>
            <td>Schedule</td>
        </tr>
        <tr>
            <td rowspan="2">5</td>
            <td rowspan="2">Rider Coverage (What does the Rider covers?) (Rider Clause Number/s)</td>
            <td>
                <p>Subject to the terms and condition of the Rider, the following benefits will be paid, in addition to the benefits of the base Policy:</p>
                <p><strong>i. Accidental Death Benefit:</strong></p>
                <p>Rider Sum Assured is payable, if the Life Insured dies due to an Accident (and independent from any other physical or mental illness) within 180 days of the Accident and before expiry of Rider Term, provided that the Accident occurred when the Rider and the base Policy were in force.</p>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <p><strong>ii. Accidental Dismemberment Benefit: </strong></p>
                <p>Rider Sum Assured is payable, if the Life Insured suffers one or more of the following impairments due to an Injury (and independent from all other causes) within 180 days of the Accident and before expiry of Rider Term provided that the Accident occurred when the Rider and the base Policy were in force:</p>
                <span>&#8226;</span> Irrecoverable Loss of Sight in both eyes; or<br>
                <span>&#8226;</span> Amputation or Loss of Use of both hands at or above the wrists; or<br>
                <span>&#8226;</span> Amputation or Loss of Use of both feet at or above the ankles; or<br>
                <span>&#8226;</span> Amputation or Loss of Use of one hand at or above the wrist and one foot at or above the ankle.<br>
            </td>

            <td>Clause 2 (Benefits) of Part C <br>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td>Exclusions (what the Rider does not cover)</td>
            <td>
                <p>The following exclusions are applicable to the benefits payable under the Rider:</p>
                    <strong>1. Suicide Exclusion: </strong> Total Premium Paid, Underwriting Extra Premiums and loadings for modal premiums paid, if any received by Us under this Rider will be returned if the death of the Life Insured is directly or indirectly, voluntarily or involuntarily due to or caused, occasioned, accelerated or aggravated by suicide or attempted suicide by the Life Insured, whether sane or insane within 12 (Twelve) months from the Date of Commencement of Risk under Rider or the date of revival of the Rider.<br><br>
                    <strong>2. Other Exclusions:</strong> No payment shall be made under this Rider if the Injury/death of the Life Insured is directly or indirectly, voluntarily or involuntarily due to or caused, occasioned, accelerated or aggravated by any of the following:<br><br>
                    <span>&#8226;</span> The Life Insured being under the influence of drugs, alcohol, narcotics or psychotropic substance, not prescribed by a Medical Practitioner;<br>
                    <span>&#8226;</span> Injuries resulting from war (declared or un-declared), invasion, civil war, riots, revolution or any warlike operations;<br>
                    <span>&#8226;</span> Participation by the Life Insured in a criminal or unlawful act with criminal intent;<br>
                    <span>&#8226;</span> Service in military / para military, naval, air forces or police organizations of any country in a state of war (declared or undeclared) or of armed conflict;<br>
                    <span>&#8226;</span> Participation by the Life Insured in any flying activity other than as a bona fide passenger (whether paying or not), pilots or cabin crew in a licensed scheduled aircraft;<br>
                    <span>&#8226;</span> Engaging in or taking part in professional sport(s) or any hazardous pursuits, including but not limited to, diving or riding or any kind of race; underwater activities involving the use of breathing apparatus or not; martial arts; hunting; mountaineering; parachuting; bungee jumping; or<br>
                    <span>&#8226;</span> The radioactive, explosive or hazardous nature of nuclear fuel materials or property contaminated by nuclear fuel materials or accident arising from such nature.<br>

            </td>
            <td>Clause 5 (Exclusions applicable to Rider) under Part D</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Waiting period</td>
            <td>
                <strong>NA</strong>
            </td>
            <td>NA</td>
        </tr>
        <tr>
            <td rowspan="4">8</td>
            <td>Financial limits of coverage <br>
                i. Sub-limit (It is a pre-defined limit and the insurance company will not pay any amount in excess of this limit) <br><br>
            </td>
            <td>
                We will pay the Rider Sum Assured if the Life Insured dies due to an Accident (and independent from any other physical or mental illness) or suffers one or more impairments due to an Injury (and independent from all other causes) within 180 days of the Accident and before expiry of Rider Term provided that the Accident occurred when this Rider and the base Policy were in force.<br><br>

            </td>
            <td> Clause 2.1 and 2.2. of Part C</td>
        </tr>
        <tr>
            <td>ii. Co-payment (It is a specified amount/percentage of the admissible claim amount to be paid by policyholder/insure).</td>
            <td>Not Applicable</td>
            <td></td>
        </tr>
        <tr>
            <td>iii. Deductible (It is a specified amount: - up to which an insurance company will not pay any claim, and which will be deducted from total claim amount (if claim amount is more than the specified amount)  <br><br></td>
            <td>Not Applicable <br><br></td>
            <td></td>
        </tr>
        <tr>
            <td>iv. Any other limit (as applicable) <br><br></td>
            <td> Not Applicable</td>
            <td></td>
        </tr>
        <tr>
            <td>9</td>
            <td>Claims/Claims Procedure</td>
            <td>
                <span>&#8226;</span><strong> Turn Around Time (TAT) for claims settlement:<span th:text="${tatDays}"></span> days after receipt of entire documents or completion of investigations, if any, whichever is later and brief procedure.</strong><br><br>
                <span>&#8226;</span> Notice of Claim – All cases of death must be notified immediately to us in writing. However, We may condone delay on merit for delayed claims where the reason for delay is proved to be for reasons beyond the control of the Claimant.<br><br>
                <span>&#10146;</span> Please note that all death claims will be payable to the nominee/legal heir of the Policyholder.<br><br>
                <span>&#10146;</span> Claim forms as required by us must be completed and furnished to us, at the Claimant’s expense, within 90 days after the date the insured event happens, unless specified otherwise. A list of primary claim documents listing the normally required documents is attached to the Policy. Submission of the listed documents, forms or other proof, however, shall not be construed as an admission of liabilities by the Company. We reserve the right to require any additional proof and documents in support of the claim.<br><br>
                <span>&#8226;</span> <strong>Helpline number</strong><br><br>
                <span>&#10146;</span> 1860-120-5577 (Call charges apply) or 0124- 4219090<br><br>
                <span>&#8226;</span><strong> Contact Details of the Insurer:</strong><br><br>
                <span>&#10146;</span> Axis Max Life Insurance Ltd., Plot No. 90C, Udyog Vihar, Sector 18, Gurugram-122015, Haryana, India. Website - www.axismaxlifeinsurance.com<br><br>
                <span>&#8226;</span><strong> Link for downloading claim form and list of documents required including bank account details:</strong><br><br>
                <span>&#10146;</span> <a href="https://www.maxlifeinsurance.com/downloads" target="_blank">https://www.maxlifeinsurance.com/downloads</a><br><br>
                 We must be notified in writing in respect of a claim for benefits under the Rider preferably within 90 days from the date of the death by an Accident or dismemberment of the Life Insured.<br><br>
                <span>&#8226;</span> For processing a claim request, following documents are required:<br>
                <span>&#8226;</span> Claimant’s statement in the prescribed form (death claim application form -form A);<br>
                <span>&#8226;</span> original Rider document;<br>
                <span>&#8226;</span> a copy of police complaint/ first information report (only in the case of death by accident or unnatural death or suicidal death of the Life Insured);<br>
                <span>&#8226;</span> a copy of duly certified post mortem report, autopsy and a copy of the final police investigation report /charge sheet along with viscera/ histopathology report (wherever applicable) (only in the case of death by accident or unnatural death or suicidal death of the Life Insured);<br>
                <span>&#8226;</span> original/ attested copy of death certificate issued by the local/municipal authority authority (only in the case of death of the Life Insured).<br>
                <span>&#8226;</span> discharge summary / indoor case papers in case death happened due to medical reasons in a hospital;<br>
                <span>&#8226;</span> medical booklet / CGHS card details in case of defence and central government personnel;<br>
                <span>&#8226;</span> body transfer certificate / embassy documents / postmortem report whichever applicable in case of death in foreign country;<br>
                <span>&#8226;</span> complete passport copy in case of death in foreign country;<br>
                <span>&#8226;</span> identity proofs of the Claimants bearing their photographs and signatures (only in case of death of the Life Insured)<br>
                <span>&#8226;</span> other life / health insurance details with claim history details;<br>
                <span>&#8226;</span>  employer's certificate with complete leave records (Form E);<br>
                <span>&#8226;</span> copy of bank passbook / cancelled cheque of the claimant;<br>
                <span>&#8226;</span> ITR for last 3 years / GST certificate in case of self-employed;<br>
                <span>&#8226;</span> in case of a medical/natural death of the Life Insured, the attending physician’s statement (Form C) and the medical records (admission notes, discharge/death summary, test reports, etc.);<br>
                <span>&#8226;</span> NEFT mandate form attested by bank authorities;<br>
                <span>&#8226;</span> Bank statement of last 2 years of the Life Insured;<br>
                <span>&#8226;</span> certificate by a Medical Practitioner confirming dismemberment of the Life Insured;<br>
                <span>&#8226;</span> identity proof of the Claimant including nominee(s) bearing their photographs and signatures (only in the case of the death of the Life Insured); and<br>
                <span>&#8226;</span> any other documents/information required by Us for assessing and approving the claim request.<br><br>
                Claimant can download the claim request documents from Our website <a href="https://www.maxlifeinsurance.com" target="_blank">www.axismaxlifeinsurance.com</a> or can obtain the same from any of Our branches and offices.
            </td>
            <td>Clause 3 (Claim Procedure)- Part F</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Policy Servicing</td>
            <td>Helpline No. – 1860 120 5577 or (0124) 4219090 <br>
                <p>Email: <a href="mailto:service.helpdesk@maxlifeinsurance.com">service.helpdesk@maxlifeinsurance.com</a></p>
                <strong>Contact Details of the Insurer:</strong><br>
                Chief Customer Officer
                Axis Max Life Insurance Ltd.,
                Plot No. 90C, Udyog Vihar, Sector 18,    Gurugram-122015, Haryana, India.<br>
                Website - www.axismaxlifeinsurance.com
            </td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Grievances/ Complaints</td>
            <td>Grievance Redressal Officer<br>
                Axis Max Life Insurance Ltd.,<br>
                Plot No. 90C, Udyog Vihar, Sector 18, Gurugram, 122015, Haryana, India<br>
                Helpline No. – 1860 120 5577 or (0124) 4219090<br>
                Email: <a href="mailto:manager.services@maxlifeinsurance.com;">manager.services@maxlifeinsurance.com;</a><br><br>

                <strong>Link for details of Grievance Redressal Officer or registering the grievance with the insurer’s portal</strong><br><br>

                <a href="https://www.maxlifeinsurance.com/customer-service/grievance-redressal" target="_blank">https://www.maxlifeinsurance.com/customer-service/grievance-redressal</a><br><br>

                <strong>Contact details of Ombudsman</strong><br><br>

                Refer Annexure A for the Ombudsman details
            </td>
            <td>Clause 1.2 (Dispute Redressal process under policy) – Part G</td>
        </tr>
        <tr>
            <td rowspan="3">12</td>
            <td rowspan="3">Things To remember</td>
            <td>
                <strong>Free Look cancellation:</strong> You may cancel the Rider if you do not want it or otherwise, within 30 days beginning from the date of receipt of Rider document.<br><br>
                You may cancel it by returning the Rider document with a written request made stating the reasons for such disagreement, provided no claim has been made under the rider, to us within the free look cancellation period. We will cancel the rider and will refund only the premiums received by us after deducting the proportionate risk premium for the period of cover, charges of stamp duty paid and the expenses incurred on medical examination of the Life Insured, if any.<br><br>

            </td>
            <td>Clause 7 of Part D</td>
        </tr>
        <tr>
            <td><strong>Rider renewal:</strong> The Rider will be renewed in accordance with the terms of the base Policy.<br><br></td>
            <td>Clause 3.2 (Premium) – Part C</td>
        </tr>
        <tr>
            <td><strong>Addition or removal of Rider:</strong> Subject to the terms of Rider, the Rider can be added or removed from the base Policy at any time during the Policy Year. The addition of the Rider shall take effect only after the same is approved in accordance with the Underwriting Policy and communicated in writing.</td>
            <td>Clause 3.2 (Premium) – Part C</td>
        </tr>
        <tr>
            <td rowspan="4">13</td>
            <td rowspan="4">Your Obligations</td>
            <td>
                <span>&#8226;</span> The Rider will lapse and no benefit is payable under the Rider, if Rider premium is not received by end of Grace Period or the base Policy lapses or goes into non-forfeiture mode.
            </td>
            <td>Clause 4 of Part C (Lapsation of Rider)</td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> Fraud, misstatement and forfeiture would be dealt with in accordance with provisions of Section 45 of the Insurance Act, 1938 as amended from time to time.
            </td>
            <td>Clause 5 of Part F</td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> Nomination is allowed as per Section 39 of the Insurance Act, 1938 as amended from time to time.
            </td>
            <td>Clause 6 of Part F</td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> Assignment is allowed as per Section 38 of the Insurance Act, 1938 as amended from time to time.
            </td>
            <td>Clause 7 of Part F</td>
        </tr>
        </tbody>
    </table>
    <div class="declaration">
        <p><u>Declaration by the Policyholder</u></p>
        <p>I have read the above and confirm having noted the details.</p>

        <div class="signature-section">
            <div class="left">
                <p>Place:<span style="text-align: center;min-width: 100px;border-bottom-color: #000;border-bottom-style: solid;border-bottom-width: 1px;display: inline-block;padding: 0 18px;font-weight: bold;text-transform:uppercase;"><span th:text="${place}"></span></span></p>
                <p>Date:<span style="text-align: center;min-width: 100px;border-bottom-color: #000;border-bottom-style: solid;border-bottom-width: 1px;display: inline-block;padding: 0 18px;font-weight: bold;text-transform:uppercase;"><span th:text="${date}"></span></span></p>
            </div>
            <div class="signature" style="text-align: right; margin-top: -45px;">
                <p>(Signature of the Policyholder)</p>
            </div>
        </div><br>
        <div class="note">
            <p><b>Note:</b></p>
            <ol type="1">
                <li>For the rider related documents including the Customer Information sheet please refer to <a href="https://www.maxlifeinsurance.com"> https://www.axismaxlifeinsurance.com</a></li>
                <li>In case of any conflict, the terms and conditions mentioned in the Rider document/certificate of insurance shall prevail.</li>
                <li>In the event of any conflict or discrepancy between any translated version and the English language version of this CIS, the English language version of this CIS shall prevail.</li>
            </ol>
        </div>
    </div>
</div>
</body>