<style>
    .annexure{
      font-size:14px;
      font-family: sans-serif;
      margin: 10pt 40pt 20pt 40pt;
    }
</style>
<body>
<div class="annexure">
    <p><b><u>Annexure 2:</u> Other exclusions to Waiver of Premium Plus benefit</b></p>
    <p>If Your Critical Illness or Dismemberment is directly or indirectly, caused, occasioned, accelerated or aggravated directly or indirectly, by any of the following: </p>
    <ol type="i">
        <li>suicide or attempted suicide or self-inflicted injury, whether You are medically sane or insane;</li>
        <li>committing an assault, a criminal offence, an illegal activity or any breach of law with criminal intent;</li>
        <li>any congenital condition;</li>
        <li>alcohol or solvent abuse or taking of drugs, narcotics or psychotropic substances unless taken in accordance with the lawful directions and prescription of a Medical Practitioner;</li>
        <li>war, invasion, act of foreign enemy, hostilities (whether war be declared or not), armed or unarmed truce, civil war, mutiny, rebellion, revolution, insurrection, military or usurped power, riot, civil commotion or strikes;</li>
        <li>participation by You in any flying activity other than as a bona fide passenger (whether paying or not), pilots and cabin crew in a licensed scheduled aircraft;</li>
        <li>engaging in or taking part in professional sport(s) or any hazardous pursuits, including but not limited to, diving or riding or any kind of race; underwater activities involving the use of breathing apparatus or not, martial arts, hunting, mountaineering, parachuting, bungee-jumping; or</li>
        <li>nuclear contamination, the radioactive, explosive or hazardous nature of nuclear fuel materials or property contaminated by nuclear fuel materials or accident arising from such nature.</li>

    </ol>

</div>
</body>
<!--</html>-->
