
<style>
    .annexure{
      font-size:14px;
      font-family: sans-serif;
      margin: 10pt 40pt 20pt 40pt;
    }
</style>
<body>
<div class="annexure">
    <div><b><u>Annexure 3:</u> Other exclusions to Critical Illness benefit</b> </div><br>
    <div>
        <div>If the covered Critical Illness of the Life Insured results directly or indirectly caused by, based on, arising out of or howsoever attributable to from any one of the following clauses:</div>
        <ol type="1">
            <li>Any illness, sickness or disease other than those specified as Critical Illnesses under this Rider.</li>
            <li>Any Pre-Existing Diseases. However, coverage under the Rider after the expiry of 36 months for any Pre-Existing Disease is subject to the same being declared at the time of application and accepted by Us.</li>
            <li>Any Critical Illness directly or indirectly caused due to treatment for, alcoholism, drug or substance abuse or any addictive condition and consequences thereof.</li>
            <li>Narcotics used by the Life Insured unless taken as prescribed by a Medical Practitioner.</li>
            <li>Any Critical Illness directly or indirectly caused due to intentional self-injury, suicide or attempted suicide, whether the person is medically sane or insane.</li>
            <li>Any Critical Illness directly or indirectly, caused by or arising from or attributable to a foreign invasion, act of foreign enemies, hostilities, warlike operations (whether war be declared or not or while performing duties in the armed forces of any country during war or at peace time), civil war, public defense, rebellion, revolution, insurrection, military or usurped power.</li>
            <li>Any Critical Illness caused by ionizing radiation or contamination by radioactivity from any nuclear fuel (explosive or hazardous form) or from any nuclear waste from the combustion of nuclear fuel, nuclear, chemical or biological attack.</li>
            <li>Working in underground mines, tunneling or involving electrical installations with high tension supply, or as race jockeys or circus personnel.</li>
            <li>Congenital external diseases, defects or anomalies or consequences thereof.</li>
            <li>Any Critical Illness directly or indirectly caused by any treatment necessitated due to participation as a professional in hazardous or adventure sport, including but not limited to, para jumping, rock climbing, mountaineering, rafting, motor racing, horse racing or scuba diving, hand gliding, sky diving, deep sea diving and selfie accident.</li>
            <li>Participation by the Life Insured in any flying activity, except as a bona fide, fare paying passenger of a recognized airline on regular routes and on a scheduled timetable.</li>
            <li>Any Critical Illness directly or indirectly, caused by Medical treatment traceable to childbirth (including complicated deliveries and caesarean sections incurred during hospitalization) except ectopic pregnancy. Any Critical Illness due to miscarriages (unless due to an accident) and lawful medical termination of pregnancy during the Rider Term.</li>
            <li>Any Critical Illness directly or indirectly, caused by any unproven/ experimental treatment, service and supplies for or in connection with any treatment. Unproven/ experimental treatments are treatments, procedures or supplies that lack significant medical documentation to support their effectiveness.</li>
            <li>Any Critical Illness based on certification/Diagnosis/treatment from persons not registered as Medical Practitioners, or from a Medical Practitioner who is practicing outside the discipline that he/she is licensed for.</li>
            <li>Any Critical Illness directly or indirectly, caused due to any treatment, including surgical management, to change characteristics of the body to those of opposite sex.</li>
            <li>Any Critical Illness directly or indirectly, caused due to cosmetic or plastic surgery or any treatment to change the appearance unless for reconstruction following an Accident, Burn(s), or Cancer or as part of medically necessary treatment to remove a direct and immediate health risk to the insured. For this to be considered a medical necessity, it must be certified by the attending Medical Practitioner.</li>
            <li>Any Critical Illness directly or indirectly, caused due to surgical treatment of obesity that does not fulfil all the below conditions:
                <ol type="a">
                    <li>Surgery to be conducted is upon the advice of the Doctor</li>
                    <li>The surgery / procedure conducted should be supported by clinical protocols</li>
                    <li>The Life Insured is 18 years of age or older and</li>
                    <li>Body Mass Index (BMI):<br>
                            <span>&#8226;</span> greater than or equal to 40 or<br>
                            <span>&#8226;</span> greater than or equal to 35 in conjunction with any of the following severe co-morbidities following failure of less invasive methods of weight loss:<br>
                                <ol type="i">
                                    <li>Obesity related cardiomyopathy</li>
                                    <li>Coronary heart disease</li>
                                    <li>Severe sleep apnea</li>
                                    <li>Uncontrolled type 2 Diabetes despite optimal therapy</li>
                                </ol>
                   </li>
                </ol>
            </li>
            <li>Any Critical Illness directly or indirectly, caused due to treatments received in health hydros, nature cure clinics, spas or similar establishments or private beds registered as a nursing home attached to such establishments or where admission is arranged wholly or partly for domestic reason.</li>
            <li>Any Critical Illness directly or indirectly, caused by treatment directly arising from or consequent upon any Life Insured committing or attempting to commit a breach of law with criminal intent.</li>
            <li>In the event of the death of the Life Insured within the stipulated Survival Period as set out above.</li>
            <li>Any Critical Illness directly or indirectly, caused by sterility and infertility. This includes:
                <ol>
                    <li>Any type of contraception, sterilization</li>
                    <li>Assisted Reproductive services including artificial insemination and advanced reproductive technologies such as IVF, ZIFT, GIFT, ICSI</li>
                    <li>Gestational Surrogacy</li>
                    <li>Reversal of sterilization</li>
                </ol>
            </li>
        </ol>
    </div>
</div>
</body>