<style>
    body {
         display: flex;
         justify-content: center;
         align-items: center;
         min-height: 100vh;
         margin: 0;
         font-family: sans-serif;
     }
     .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         margin: 5pt 40pt 40pt 40pt;
         padding: 20px;
         border : none;
         max-width: 210mm; /* A4 width */
         box-sizing: border-box; /* Ensure padding and border are included in the width */
         font-size:14px;
     }
     .title {
         font-size: 14px;
         font-weight: bold;
         margin-bottom: 10px;
         text-align: center;
     }
     .info-table {
         max-width: 100%; /* Ensure the table does not exceed its container */
         width: 100%;
         border-collapse: collapse;
         table-layout: fixed; /* Ensure columns fit within the table */
         margin: auto; /* Center the table */
     }
     .info-table th,
     .info-table td {
         padding: 10px;
         border: 1px solid #000;
         text-align: left;
         word-wrap: break-word; /* Ensure text wraps within cells */
         overflow-wrap: break-word; /* Additional support for wrapping */
         vertical-align: top;

     }
     .info-table th {
         background-color: #f2f2f2;
         font-weight: bold;
     }
     /* Apply thicker border to the second column */
     .info-table th:nth-child(3),
     .info-table td:nth-child(3) {
      width: 55%; /* Adjust the percentage to your needs */
    }
    .info-table th:nth-child(1),
     .info-table td:nth-child(1) {
      width: 6%; /* Adjust the percentage to your needs */
    }
    /* Apply thicker border to the second column */
     .info-table th:nth-child(2),
     .info-table td:nth-child(2) {
      width: 24%; /* Adjust the percentage to your needs */
    }
    .info-table th:nth-child(4),
    .info-table td:nth-child(4) {
        width: 15%;
    }
     .disclaimer {
         font-size: 12px;
         margin-top: 10px;
         text-align: center;
     }
</style>
<body>
<div class="container">
    <h1 style="font-size: 14px;" class="title"><u>CUSTOMER INFORMATION SHEET (CIS) / KNOW YOUR RIDER</u></h1>
    <p>This document provides key information about your Rider. You are also advised to go through your Rider document.</p>
    <table class="info-table">
        <tbody>
        <tr>
            <td style="text-align: center;"><strong>SI No</strong></td>
            <td style="text-align: center;"><strong>Title</strong></td>
            <td style="text-align: center;">
                <span style="font-weight: bold; display: block;">Description</span>
                <span style="font-weight: normal;">(Please refer to applicable Rider Clause Number in next column)</span>
            </td>
            <td style="text-align: center;"><strong>Rider Document Clause Number</strong></td>
        </tr>
        <tr>
            <td>1</td>
            <td>Name of Insurance Product / Rider </td>
            <td style="text-align: center;">
                <span style="font-weight: bold;">Axis Max Life Smart Ultra Protect Rider</span><br>
                <span th:text="'UIN: ' + ${UIN}"></span>
            </td>
            <td>Rider Preamble</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Rider Number</td>
            <td style="text-align: center;"><span th:text="${policyNumber}"></span></td>
            <td>Cover page of the Rider</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Type of Insurance Product / Policy/ Rider</td>
            <td style="text-align: center;">A Unit-Linked Individual Health Insurance Rider</td>
            <td>Cover page of the  Rider</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Sum Insured (Basis) (Along with amount)</td>
            <td>
                <p>Sum Assured under specific Rider Benefit Variant:</p>
                <span th:if="${termBoosterOpted}">
                    <span>&#8226;</span> Term Booster with Accelerated Terminal Illness Variant - <span th:text="${termBoosterSumAssured}"></span><br>
               </span>
                <span th:if="${accidentalDeathBenefitOpted}">
                    <span>&#8226;</span> Accidental Death Benefit - <span th:text="${accidentalDeathBenefitSumAssured}"></span><br>
               </span>
                <span th:if="${accidentalDisabilityOpted}">
            <span>&#8226;</span> Accidental Total and Permanent Disability Benefit - <span th:text="${accidentalDisabilitySumAssured}"></span><br>
               </span>
                <span th:if="${payorBenefitOpted}">
            <span>&#8226;</span> Payor Benefit - <span th:text="${payorBenefitSumAssured}"></span><br>
                </span>
            </td>
            <td>Rider schedule</td>
        </tr>
        <tr>
            <td rowspan="6">5</td>
            <td rowspan="6">Policy Coverage (What the policy covers?) (Rider Clause Number/s)</td>
            <td>
                <span>&#10146;</span> <b>Rider Benefits</b><br>
                <p>Subject to the terms and conditions of this Rider including the exclusions and provided the Rider Variant/ Base Plan is in force, the following benefits shall be payable upon happening of any insured event:</p>
            </td>
            <td>Clause 1 of Part C</td>
        </tr>
        <tr>
            <td>
                <div th:if="${termBoosterOpted}">
                <span>&#10146;</span><b> Term Booster with Accelerated Terminal Illness Benefit Rider Variant:</b> If you have opted for this variant:<br>
                    <ol type="i">
                       <li>In case of death of the Life Insured during the Rider Benefit Variant Term, the applicable Rider Benefit Variant Sum Assured shall be paid and coverage under all other Rider Benefit Variant’s will terminate.</li>
                       <li>In case of Diagnosis of Terminal Illness of the Life Insured, during the Rider Benefit Variant Term, the applicable Rider Benefit Variant Sum Assured shall be paid and this Rider Variant will terminate. </li>
                       <li> Benefit under this Rider Variant is payable only once during the Rider Benefit Variant Term and shall terminate upon death or Diagnosis of Terminal Illness of the Life Insured or expiry of the Rider Benefit Variant Term, whichever is earlier.</li>
                   </ol>
                </div>
                <div th:unless="${termBoosterOpted}">
                    <span>&#10146;</span><b> Term Booster with Accelerated Terminal Illness Benefit Rider Variant:</b> Not Applicable
                </div>
            </td>
            <td>
                Clause 1(A) of Part C
            </td>
        </tr>
        <tr>
            <td>
                <div th:if="${accidentalDeathBenefitOpted}">
                <span>&#10146;</span><b> Accidental Death Benefit Rider Variant: If you have opted for this variant:</b> If you have opted for this Rider
                and the Life Insured dies due to an Accident before expiry of the Rider Benefit Variant Term, the applicable Rider Benefit Variant Sum Assured shall be paid and all Rider Benefit Variants will terminate.
                </div>
                <div th:unless="${accidentalDeathBenefitOpted}">
                    <span>&#10146;</span><b> Accidental Death Benefit Rider Variant: If you have opted for this variant:</b> Not Applicable
                </div>
            </td>
            <td>
                Clause 1(B) of Part C
            </td>
        </tr>
        <tr>
            <td>
                <div th:if="${accidentalDisabilityOpted}">
                <span>&#10146;</span><b> Accidental Total and Permanent Disability Rider Variant:</b> In the event of Total and Permanent Disability of the Life Insured due to Accident during the Rider Benefit Variant Term, the applicable Rider Benefit Variant Sum Assured shall be paid and this Rider Variant will terminate.
                </div>
                <div th:unless="${accidentalDisabilityOpted}">
                    <span>&#10146;</span><b> Accidental Total and Permanent Disability Rider Variant:</b> Not Applicable
                </div>
            </td>
            <td>
                Clause 1(C) of Part C
            </td>
        </tr>
        <tr>
            <td>
                <div th:if="${payorBenefitOpted}">
                <span>&#10146;</span> <b>Payor Benefit Rider Variant:</b> If You have opted for this Variant,<br>
                <ol type="i">
                    <li>In case of death or Diagnosis of Terminal Illness of Policyholder, whichever is earlier, We will (i) fund all future outstanding Premiums, as and when due, under the base policy; and (ii) waive off all the future Premiums under all attached Rider (including other Rider Benefit Variants under this Rider). </li>
                    <li>This Rider Variant is only applicable when the Policyholder and the Life Insured are different individuals. The coverage under this Rider variant is on the Life of the Policyholder.</li>
                    <li>Once the claim under Payor Benefit Rider Variant is accepted and the future Premium(s) are funded (waived in case of Riders) by Us; then in case of termination of Policy due to happening of any insured event or surrender, the present value of future Premiums (if any) to be funded (waived in case of Riders) will be paid in addition to benefits under the Policy.</li>
                    <li>Benefit under this Rider Variant is payable only once during the Rider Benefit Variant Term and shall terminate upon death or Diagnosis of Terminal Illness of the Policyholder or expiry of the Rider Benefit Variant Term, whichever is earlier.</li>
                </ol>
                </div>
                <div th:unless="${payorBenefitOpted}">
                    <span>&#10146;</span> <b>Payor Benefit Rider Variant:</b> Not Applicable
                </div>
            </td>
            <td>
                Clause 1(D) of Part C
            </td>
        </tr>
        <tr>
            <td>
                <span>&#10146;</span><b> Maturity Benefit:</b><br>
                <ol type="i">
                    <li>In case You have chosen without Return of Premium Option, no maturity benefit shall be payable.</li>
                    <li>In case You have chosen a Rider Variant (i) Accidental Death Benefit with Return of Premium Variant (ii) Accidental Total & Permanent Disability Benefit with Return of Premium Variant (iii) Term Booster with Accelerated Terminal Illness Benefit with Return of Premium Variant, We will pay 100% of Total Premium Paid plus Underwriting Extra plus modal extra under the respective Rider Variant, provided no claim has been made by You during the Rider Benefit Variant Term and the coverage under all rider benefit variants will terminate.</li>
                </ol>
            </td>

            <td>Clause 3 of Part C <br>
            </td>
        </tr>
        <tr>
            <td rowspan="3">6</td>
            <td rowspan="3">Exclusions <br>
                (what the policy does not cover)
            </td>
            <td>
                <span>&#10146;</span> <b> Suicide Exclusion:</b><br>
                <ol type="i">
                    <li>This is applicable only for Term Booster with Accelerated Terminal Illness and Payor Benefit Rider Variant.</li>
                    <li>We will return higher of (i) the Total Rider Premium Paid, Underwriting Extra Premiums and loadings for modal premiums paid, if any received by Us  or (ii) the Surrender Value available as on the date of death, till the date of death, provided the Policy is in-force, under this Rider if the death of the Life Insured is directly or indirectly, voluntarily or involuntarily due to or caused, occasioned, accelerated or aggravated by suicide or attempted suicide by the Life Insured, within 12 (Twelve) months from the Date of Commencement of Risk under Rider or the date of revival of the Rider and the Rider shall terminate immediately.</li>
                </ol>
            </td>
            <td>Clause 6 of Part D</td>
        </tr>
        <tr>
            <td>
                <span>&#10146;</span> <b>Exclusions for Terminal Illness Benefit:</b><br>
                No benefit shall be paid if there is a terminal illness due to self-inflicted injury, suicide or attempted suicide within 12 months from the date of Commencement of Risk or from the date of revival of the Rider.
            </td>
            <td>Clause 8.1 of Part D</td>
        </tr>
        <tr>
            <td>
                <span>&#10146;</span> <b>Exclusion for Accidental Death Benefit and Accidental Total and Permanent Disability Benefit:</b>
                Accidental Death Benefit and Accidental Total and Permanent Disability Benefit shall not be payable for any losses caused directly or indirectly, wholly or partly, by any one of the following occurrences:
                <ol type="i">
                    <li>Intentional self-inflicted injury, attempted suicide, while sane or insane; </li>
                    <li>Insured person being under the influence of drugs, alcohol, narcotics or psychotropic substances unless taken in accordance with the lawful directions and prescription of a Doctor; </li>
                    <li>War, invasion, hostilities (whether war be declared or not), armed or unarmed truce, civil war, mutiny, rebellion, revolution, insurrection, military or usurped power, riot or civil commotion, strikes; </li>
                    <li>Taking part in any naval, military or air force operation during peace time or during service in any police, paramilitary or any similar organization; </li>
                    <li>Participation by the insured person in any flying activity, except as a bona fide, fare-paying passenger of a recognized airline or Pilots and cabin crew of a commercial airline, on regular routes and on a scheduled timetable; </li>
                    <li>Participation by the insured person in a criminal or unlawful act with illegal or criminal intent; </li>
                    <li>Engaging in or taking part in professional sport(s) or any hazardous pursuits, including but not limited to, diving or riding or any kind of race; underwater activities involving the use of breathing apparatus or not; martial arts; hunting; mountaineering; parachuting; bungee jumping; </li>
                    <li>Nuclear Contamination; the radio-active, explosive or hazardous nature of nuclear fuel materials or property contaminated by nuclear fuel materials or accident arising from such nature</li>
                </ol>
            </td>
            <td>Clause 8.2 of Part D</td>
        </tr>
        <tr>
            <td>7</td>
            <td>Waiting period<br>
                <span>&#8226;</span> Time period during which specified diseases/treatments are not covered<br>
                <span>&#8226;</span> It is counted from the beginning of the policy coverage.
            </td>
            <td>
                NA
            </td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="4">8</td>
            <td>Financial limits of coverage <br>
                i. Sub-limit<br> (It is a pre-defined limit and the insurance company will not pay any amount in excess of this limit) <br><br>
            </td>
            <td>NA</td>
            <td> </td>
        </tr>
        <tr>
            <td>ii. Co-payment<br> (It is a specified amount/percentage of the admissible claim amount to be paid by policyholder /insured).</td>
            <td><strong>NA</strong></td>
            <td></td>
        </tr>
        <tr>
            <td>iii. Deductible <br>(It is a specified amount:<br>
                - up to which an insurance company will not pay any claim, and<br>
                - which will be deducted from total claim amount (if claim amount is more than the specified amount)  <br><br></td>
            <td><strong>NA</strong></td>
            <td></td>
        </tr>
        <tr>
            <td>iv. Any other limit<br> (as applicable) <br><br></td>
            <td> <strong>NA</strong></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2">9</td>
            <td rowspan="2">Claims/Claims Procedure</td>
            <td>
                <span>&#8226;</span><strong> Turn Around Time (TAT) for claims settlement : <span th:text="${tatDays}">30</span> days after receipt of entire documents or completion of investigations, if any, whichever is later and brief procedure.</strong><br><br>
                <span>&#10146;</span> Notice of Claim – All cases of death and Total and Permanent Disability must be notified immediately to us in writing. However, We may condone delay on merit for delayed claims where the reason for delay is proved to be for reasons beyond the control of the Claimant.<br><br>
                <span>&#10146;</span> Please note that all death claims will be payable to the nominee/legal heir of the Policyholder.<br><br>
                <span>&#10146;</span> Claim forms as required by us must be completed and furnished to us, at the Claimant’s expense, within 90 days after the date the insured event happens, unless specified otherwise. A list of primary claim documents listing the normally required documents is attached to the Rider. Submission of the listed documents, forms or other proof, however, shall not be construed as an admission of liabilities by the Company. We reserve the right to require any additional proof and documents in support of the claim.<br><br>
                <span>&#8226;</span> <strong>Helpline number</strong><br><br>
                <span>&#10146;</span> 1860-120-5577 (Call charges apply) or 0124- 4219090<br><br>
                <span>&#8226;</span><strong> Contact Details of the Insurer:</strong><br><br>
                <span>&#10146;</span> Axis Max Life Insurance Ltd., Plot No. 90C, Udyog Vihar, Sector 18, Gurugram-122015, Haryana, India. Website - <a href="https://www.maxlifeinsurance.com" target="_blank">www.axismaxlifeinsurance.com</a><br><br>
                <span>&#8226;</span><strong> Link for downloading claim form and list of documents required including bank account details:</strong><br><br>
                 <a href="https://www.maxlifeinsurance.com/downloads" target="_blank">https://www.maxlifeinsurance.com/downloads</a><br><br>
            </td>
            <td>Clause 2 of Part F</td>
        </tr>
        <tr>
            <td>
                <span>&#10146;</span> We will require the following documents in case of claim under this Rider regarding the death of the Life Insured:<br><br>
                <span>&#8226;</span> claimant’s statement in the prescribed form (death claim application form -form A);<br>
                <span>&#8226;</span> original Rider document (if any);<br>
                <span>&#8226;</span> In case of a medical/natural death of the Life Insured, the attending physician’s statement (Form C) and the medical records (admission notes, discharge/death summary, test reports, etc.) are required;<br>
                <span>&#8226;</span> In case of an accidental/unnatural death of the Life Insured, a copy of the first information report (FIR)/ police complaint, a copy of the postmortem report (PMR)/ Autopsy/Viscera Report and a copy of the final police investigation report (FPIR)/charge sheet is required;<br>
                <span>&#8226;</span> original/ attested copy of death certificate issued by the local/municipal authority (only in the case of death of the Life Insured);<br>
                <span>&#8226;</span> identity proofs (such as copy of Passport, PAN card, Voter identity card, Aadhar (UID) card, etc.)  of the Claimants (bearing their photographs and signatures (only in case of death of the Life Insured);<br>
                <span>&#8226;</span> NEFT mandate form attested by bank authorities, along with a cancelled cheque or bank account passbook (only in the case of the death of the Life Insured);<br>
                <span>&#8226;</span> any other documents or information required by Us for assessing and approving the claim request;<br>
                <span>&#8226;</span> employer certificate with complete leave records- Form E;<br>
                <span>&#8226;</span> ITR for last 3 years / GST certificate in case of Self employed;<br>
                <span>&#8226;</span> Other life / health insurance details with claim history details;<br>
                <span>&#8226;</span> bank statement of last 2 years of the Life Insured;<br>
                <span>&#8226;</span> body transfer certificate / embassy documents / postmortem report whichever applicable in case of death in foreign country;<br>
                <span>&#8226;</span> Complete Passport copy in case of death in foreign country;<br>
                <span>&#8226;</span> medical booklet / CGHS card details in case of defence and central government personnel; and<br>
                <span>&#8226;</span> discharge Summary / indoor Case papers in case death happened due to medical reasons in a hospital.<br>
            </td>
            <td>Clause 2.2 of Part F</td>
        </tr>
        <tr>
            <td>10</td>
            <td>Policy Servicing</td>
            <td>
                <span>&#8226;</span> <strong>Turn Around Time (TAT) : Up To <span th:text="${turnAroundTime}"></span> days </strong> <br><br>
                <span>&#8226;</span> <strong>Helpline number </strong><br><br>
                <span>&#10146;</span> 1860-120-5577 (Call charges apply) or 0124- 4219090<br><br>
                <span>&#8226;</span> <strong>Contact Details of the Insurer:</strong><br><br>
                <span>&#10146;</span> Axis Max Life Insurance Ltd., Plot No. 90C, Udyog Vihar, Sector 18, Gurugram-122015, Haryana, India. Website - <a href="https://www.maxlifeinsurance.com" target="_blank">www.axismaxlifeinsurance.com</a><br><br>
                <span>&#8226;</span> <strong>Link for downloading applicable forms and list of documents required including bank account details: </strong><br><br>
                <span>&#10146;</span> <a href="https://www.maxlifeinsurance.com/downloads" target="_blank">https://www.maxlifeinsurance.com/downloads</a><br><br>
                <span>&#10146;</span> We will require the following documents in case of   servicing under this Rider regarding the death of the Life Insured:<br><br>
                <span>&#8226;</span> Application in the prescribed form;<br>
                <span>&#8226;</span> original Rider document (if any);<br>
                <span>&#8226;</span>identity proofs (such as copy of Passport, PAN card, Voter identity card, Aadhar (UID) card, etc.)  of the Policyholder or Life Insured (bearing their photographs and signatures);<br>
                <span>&#8226;</span> NEFT mandate form attested by bank authorities, along with a cancelled cheque or bank account passbook;<br>
                <span>&#8226;</span> any other documents or information required by Us for assessing and approving the claim request;<br>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>11</td>
            <td>Grievances/ Complaints</td>
            <td>
                <span>&#8226;</span> <strong>Contact Details of   Grievance Redressal Officer of the insurer:</strong><br><br>
                Grievance Redressal Officer, Axis Max Life Insurance Ltd., Plot No. 90C, Udyog Vihar, Sector 18, Gurugram-122015, Haryana, India<br><br>
                <span>&#8226;</span> <strong>Link for registering the grievance with the insurer’s portal</strong><br><br>
                 <a href="https://www.maxlifeinsurance.com/customer-service/grievance-redressal" target="_blank">https://www.maxlifeinsurance.com/customer-service/grievance-redressal</a><br><br>
                <span>&#8226;</span><strong> Contact details of Ombudsman</strong> <br>
                Refer Annexure A for the Ombudsman details

            </td>
            <td>As per Annexure A</td>
        </tr>
        <tr>
            <td rowspan="4">12</td>
            <td rowspan="4">Things To remember</td>
            <td>
                <strong>a. Free Look cancellation:</strong> 30 days beginning from the date of receipt of the Rider Document.
            </td>
            <td>Clause 7 of Part D</td>
        </tr>
        <tr>
            <td><strong>b. Rider renewal:</strong> It means the period of five consecutive complete years, as specified in the base Policy, from the date of first unpaid Premium.<br><br></td>
            <td>Clause 33 of Part B & Clause 3 of Part D</td>
        </tr>
        <tr>
            <td><strong>c. Lapse Period: </strong> Subject to the terms of the Base Policy, at any time during the Rider Benefit Variant Term, if the Rider Premiums for any particular Rider Variant are not paid within the Grace Period and the Rider Variant has not acquired Surrender Value, the Rider Variant will lapse and no benefits shall be payable under a lapsed Rider Variant.<br><br></td>
            <td>Clause 7 of Part C</td>
        </tr>
        <tr>
            <td><strong>d. Grace Period: </strong> A grace period of thirty (30) days (fifteen (15) days in case of monthly premium payment mode) from the due date for payment of each premium will be allowed to the Policyholder for payment of due premium. During the grace period, the Company will accept the premium without interest. The insurance coverage continues during the grace period but if the Life Insured dies during the grace period, the Company will deduct the due premium (if any) till the date of death from the benefits payable under the Rider.<br><br></td>
            <td>Clause 8 of Part C</td>
        </tr>
        <tr>
            <td rowspan="5">13</td>
            <td rowspan="5">Your Obligations</td>
            <td>
                <span>&#8226;</span> Please disclose all pre-existing disease/s or condition/s before buying a policy/Rider. Non-disclosure may affect the claim settlement. Disclosure of other material information during the policy period.
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> If the Premium is not received by the expiry of the Grace Period, the rider will automatically lapse and no benefits will be payable under the rider.
            </td>
            <td>Clause 8 of Part C</td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> Fraud, misrepresentation and forfeiture would be dealt with in accordance with provisions of Section 45 of the Insurance Act, 1938 as amended from time to time.
            </td>
            <td>Clause 4 of Part F</td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> Nomination is allowed as per Section 39 of the Insurance Act, 1938 as amended from time to time.
            </td>
            <td>Clause 5 of Part F</td>
        </tr>
        <tr>
            <td>
                <span>&#8226;</span> Assignment is allowed as per Section 38 of the Insurance Act, 1938 as amended from time to time
            </td>
            <td>Clause 6 of Part F</td>
        </tr>
        </tbody>
    </table>
    <div class="declaration">
        <p><u>Declaration by the Policyholder;</u></p>
        <p>I have read the above and confirm having noted the details.</p>

        <div class="signature-section">
            <div class="left">
                <p>Place:<span style="text-align: center;min-width: 100px;border-bottom-color: #000;border-bottom-style: solid;border-bottom-width: 1px;display: inline-block;padding: 0 18px;font-weight: bold;text-transform:uppercase;"><span th:text="${place}"></span></span></p>
                <p>Date:<span style="text-align: center;min-width: 100px;border-bottom-color: #000;border-bottom-style: solid;border-bottom-width: 1px;display: inline-block;padding: 0 18px;font-weight: bold;text-transform:uppercase;"><span th:text="${date}"></span></span></p>
            </div>
            <div class="signature" style="text-align: right; margin-top: -45px;">
                <p>(Signature of the Policyholder)</p>
            </div>
        </div><br>
        <div class="note">
            <p><b>Note:</b></p>
            <ol type="i">
                <li>For the rider related documents including the Customer Information sheet please refer to the  <a href="https://www.maxlifeinsurance.com" target="_blank">https://www.axismaxlifeinsurance.com</a></li>
                <li>In case of any conflict, the terms and conditions mentioned in the Rider document shall prevail. </li>
                <li>Sum Assured on Death is subject to underwriting, for actual Sum Assured details, please refer to the Policy document.</li>
                <li>In the event of any conflict or discrepancy between any translated version and the English language version of this CIS, the English language version of this CIS shall prevail. </li>
            </ol>
        </div>
    </div>
</div>
</body>