<style>
    .annexure{
      font-size:11pt;
      font-family: sans-serif;
      page-break-before: always;
    }
</style>
<body>
<div class="annexure">
    <p style="text-align: center;"><u><b>Annexure A: List of Insurance Ombudsman</b></u></p>
    <div class="ombudsman-list">
        <div class="ombudsman">
            <b>AHMEDABAD</b> - Office of the Insurance Ombudsman, 6<sup>th</sup> Floor, Jeevan Prakash Bldg, Tilak Marg, Relief Road, Ahmedabad-380 001. Tel.:- 079-25501201/02/05/06 Email: <a href="mailto:bimalokpal.ahmedabad@cioins.co.in">bimalokpal.ahmedabad@cioins.co.in</a> (State of Gujarat and Union Territories of Dadra & Nagar Haveli and Daman and Diu.)
        </div>
        <div class="ombudsman">
            <b>BENGALURU</b> - Office of the Insurance Ombudsman, Jeevan Soudha Bldg., PID No. 57-27-N-19, Ground Floor, 19/19, 24<sup>th</sup> Main Road, JP Nagar, 1<sup>st</sup> Phase, Bengaluru – 560 078. Tel.: 080-26652049/26652048 Email: <a href="mailto:bimalokpal.bengaluru@cioins.co.in">bimalokpal.bengaluru@cioins.co.in</a> (State of Karnataka).
        </div>
        <div class="ombudsman">
            <b>BHOPAL</b> - Office of the Insurance Ombudsman, 1<sup>st</sup> Floor, Jeevan Shikha, 60-B, Hoshangabad Road, Opp. Gayatri Mandir, Bhopal-462 011. Tel.:- 0755-2769201/2769202 Email: <a href="mailto:bimalokpal.bhopal@cioins.co.in">bimalokpal.bhopal@cioins.co.in</a> (States of Madhya Pradesh and Chhattisgarh.)
        </div>
        <div class="ombudsman">
            <b>BHUBANESHWAR</b> - Office of the Insurance Ombudsman, 62, Forest Park, Bhubaneswar - 751 009. Tel.:- 0674-2596461/2596455 Email: <a href="mailto:bimalokpal.bhubaneswar@cioins.co.in">bimalokpal.bhubaneswar@cioins.co.in</a> (State of Odisha.)
        </div>
        <div class="ombudsman">
            <b>CHANDIGARH</b> - Office of the Insurance Ombudsman, S.C.O. No. 20-27, Ground Floor, Jeevan Deep Building, Sector 17-A, Chandigarh-160017. Tel.:- 0172-4646394/2706468 Email: <a href="mailto:bimalokpal.chandigarh@cioins.co.in">bimalokpal.chandigarh@cioins.co.in</a> [States of Punjab, Haryana (excluding 4 districts viz, Gurugram, Faridabad, Sonepat and Bahadurgarh) Himachal Pradesh, Union Territories of Jammu & Kashmir, Ladakh and Chandigarh]
        </div>
        <div class="ombudsman">
            <b>CHENNAI</b> - Office of the Insurance Ombudsman, Fatima Akhtar Court, 4<sup>th</sup> Floor, 453, Anna Salai, Teynampet, Chennai-600 018. Tel.:- 044-24333668 / 24333678 Email: <a href="mailto:bimalokpal.chennai@cioins.co.in">bimalokpal.chennai@cioins.co.in</a> [State of Tamil Nadu and Union Territories - Puducherry Town and Karaikal (which are part of Union Territory of Puducherry).]
        </div>
        <div class="ombudsman">
            <b>DELHI</b> - Office of the Insurance Ombudsman, 2/2 A, Universal Insurance Building, Asaf Ali Road, New Delhi-110 002. Tel.:- 011-23237539 Email: <a href="mailto:bimalokpal.delhi@cioins.co.in">bimalokpal.delhi@cioins.co.in</a> (State of Delhi, 4 districts of Haryana viz, Gurugram, Faridabad, Sonepat and Bahadurgarh)
        </div>
        <div class="ombudsman">
            <b>KOCHI</b> - Office of the Insurance Ombudsman, 10<sup>th</sup> Floor, Jeevan Prakash, LIC Building, Opp. to Maharaja’s College Ground, M.G. Road, Kochi 682011. Tel : 0484-2358759 Email: <a href="mailto:bimalokpal.ernakulam@cioins.co.in">bimalokpal.ernakulam@cioins.co.in</a> (State of Kerala and Union Territory of (a) Lakshadweep (b) Mahe-a part of Union Territory of Puducherry.)
        </div>
        <div class="ombudsman">
            <b>GUWAHATI</b> - Office of the Insurance Ombudsman, “Jeevan Nivesh”, 5<sup>th</sup> Floor, Nr. Panbazar over bridge, S. Road, Guwahati-781 001(ASSAM) Tel.:- 0361-2632204/2602205 Email: <a href="mailto:bimalokpal.guwahati@cioins.co.in">bimalokpal.guwahati@cioins.co.in</a> (States of Assam, Meghalaya, Manipur, Mizoram, Arunachal Pradesh, Nagaland and Tripura.)
        </div>
        <div class="ombudsman">
            <b>HYDERABAD</b> - Office of the Insurance Ombudsman, 6-2-46, 1<sup>st</sup> Floor, Moin Court, Lane Opp. Saleem Function Palace,A.C. Guards, Lakdi-Ka-Pool, Hyderabad-500 004. Tel : 040-23312122 Email: <a href="mailto:bimalokpal.hyderabad@cioins.co.in">bimalokpal.hyderabad@cioins.co.in</a> (State of Andhra Pradesh, Telangana and Yanam and part of the Union Territory of Puducherry.)
        </div>
        <div class="ombudsman">
            <b>JAIPUR</b> - Office of the Insurance Ombudsman, Ground Floor, Jeevan Nidhi II Bldg, Bhawani Singh Marg, Jaipur – 302005 Tel : 0141-2740363/2740798 Email: <a href="mailto:bimalokpal.jaipur@cioins.co.in">bimalokpal.jaipur@cioins.co.in</a> (State of Rajasthan)
        </div>
        <div class="ombudsman">
            <b>KOLKATA</b> - Office of the Insurance Ombudsman, Hindustan Building. Annexe, 7<sup>th</sup>  Floor, 4, C.R. Avenue, Kolkata-700 072. Tel : 033-22124339/22124341 Email: <a href="mailto:bimalokpal.kolkata@cioins.co.in">bimalokpal.kolkata@cioins.co.in</a> (States of West Bengal, Sikkim, and Union Territories of Andaman and Nicobar Islands.)
        </div>
        <div class="ombudsman">
            <b>LUCKNOW</b> - Office of the Insurance Ombudsman, 6<sup>th</sup> Floor, Jeevan Bhawan, Phase-2, Nawal Kishore Road, Hazratganj, Lucknow-226 001. Tel.: 0522-4002082/3500613 Email: <a href="mailto:bimalokpal.lucknow@cioins.co.in">bimalokpal.lucknow@cioins.co.in</a> (Following Districts of Uttar Pradesh: Lalitpur, Jhansi, Mahoba, Hamirpur, Banda, Chitrakoot, Allahabad, Mirzapur, Sonbhabdra, Fatehpur, Pratapgarh, Jaunpur, Varanasi, Gazipur, Jalaun, Kanpur, Lucknow, Unnao, Sitapur, Lakhimpur, Bahraich, Barabanki, Raebareli, Sravasti, Gonda, Faizabad, Amethi, Kaushambi, Balrampur, Basti, Ambedkarnagar, Sultanpur, Maharajgang, Santkabirnagar, Azamgarh, Kushinagar, Gorkhpur, Deoria, Mau, Ghazipur, Chandauli, Ballia, Sidharathnagar.)
        </div>
        <div class="ombudsman">
            <b>MUMBAI</b> - Office of the Insurance Ombudsman, 3<sup>rd</sup> Floor, Jeevan Seva Annexe, S.V. Road, Santacruz(W), Mumbai 400054. Tel : 022-69038800/27/29/31/32/33 Email: <a href="mailto:bimalokpal.mumbai@cioins.co.in">bimalokpal.mumbai@cioins.co.in</a> (State of Goa and Mumbai Metropolitan Region excluding areas of Navi Mumbai and Thane)
        </div>
        <div class="ombudsman">
            <b>NOIDA</b> - Office of the Insurance Ombudsman, 4<sup>th</sup> Floor, Bhagwan Sahai Palace, Main Road, Naya Bans, Sector-15, Distt: Gautam Buddh Nagar, U.P. - 201301. Tel: 0120-2514252/2514253 Email: <a href="mailto:bimalokpal.noida@cioins.co.in">bimalokpal.noida@cioins.co.in</a> (State of Uttarakhand and the following Districts of Uttar Pradesh: Agra, Aligarh, Bagpat, Bareilly, Bijnor, Budaun, Bulandshehar, Etah, Kannauj, Mainpuri, Mathura, Meerut, Moradabad, Muzaffarnagar, Oraiyya, Pilibhit, Etawah, Farrukhabad, Firozbad, Gautam Buddh nagar, Ghaziabad, Hardoi, Shahjahanpur, Hapur, Shamli, Rampur, Kashganj, Sambhal, Amroha, Hathras, Kanshiramnagar, Saharanpur.)
        </div>
        <div class="ombudsman">
            <b>PATNA</b> - Office of the Insurance Ombudsman, 2<sup>nd</sup> floor, Lalit Bhawan, Bailey Road, Patna - 800001 Tel No: 0612-2547068, Email: <a href="mailto:bimalokpal.patna@cioins.co.in">bimalokpal.patna@cioins.co.in</a> (State of Bihar, Jharkhand.)
        </div>
        <div class="ombudsman">
            <b>PUNE</b> - Office of the Insurance Ombudsman, 3<sup>rd</sup> Floor, Jeevan Darshan Bldg, C.T.S. Nos. 195 to 198, N.C. Kelkar Road, Narayan Peth, Pune – 411030. Tel.: 020-24471175 Email: <a href="mailto:bimalokpal.pune@cioins.co.in">bimalokpal.pune@cioins.co.in</a> (State of Maharashtra including Navi Mumbai and Thane and excluding Mumbai Metropolitan Region.)
        </div>
    </div>
</div>
</body>
<!--</html>-->
