<style>
    .annexure{
      font-size:11pt;
      font-family: sans-serif;
      page-break-before: always;
    }
</style>
<body>
<div class="annexure">
    <h1 class="title"><u>Annexure –B</u></h1>
    <p><strong>Services parameters and turnaround times:</strong> Policyholder servicing parameters and turnaround times shall be as follows :-</p>
    <table class="info-table">
        <tbody>
        <tr>
            <td><div align="center"><strong>S. No</strong></div></td>
            <td><div align="center"><strong>SERVICE</strong></div></td>
            <td>
                <div align="center"><span style="font-weight: bold;">DESCRIPTION OF ITEM OF SERVICE</span></div><br>
            </td>
            <td><div align="center"><strong>Regulatory Turnaround Time</strong></div></td>
        </tr>
        <tr>
            <td rowspan="2">1</td>
            <td rowspan="2">New Business Proposal Processing</td>
            <td>
                Processing of Insurance Proposal and seeking further requirements for consideration of the proposal Decision on proposal from the date of receipt of proposal or from the date of receipt of additional requirement whichever is later.
            </td>
            <td>7 days from receipt of all necessary documents</td>
        </tr>
        <tr>
            <td>Providing copy of the policy along with the proposal form.</td>
            <td>15 days</td>
        </tr>
        <tr>
            <td>2</td>
            <td >post Policy Service Request</td>
            <td>Post Policy Service Requests concerning mistakes / corrections in the Policy document</td>
            <td rowspan="2">7 days from receipt of all necessary documents</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Free-Look Cancellation </td>
            <td>Free Look Cancellation & Refund from the date of receipt of request (receipt of all necessary documents)<br></td>
        </tr>
        <tr>
            <td rowspan="2">4</td>
            <td rowspan="2">Policy Servicing (from the date of receipt of request for the service specified)</td>
            <td>
                <p>Change of Address (KYC Norms to be complied)</p><hr>
                <p>Registration /Change of Nomination, Assignment.</p> <hr>
                <p>Inclusion of new member in case of group policy</p><hr>
                <p>Alteration	in	ORIGINAL POLI CY CONDITIONS (where applicable)</p><hr>
                <p>Policy loan</p><hr>
                <p>Unit / Index Linked Insurance Policy Switch, Top-up, and other related Services.</p><hr>
                <p>Decision on Policy Revival after receipt of all requirements.</p><hr>
                <p>Issue of Premium Payment Certificates (PPC)</p>
            </td>
            <td>7 days from receipt of all necessary documents</td>
        </tr>
        <tr>
            <td>
                <p>Issue of Duplicate Policy</p>
            </td>
            <td>7 days</td>
        </tr>

        <tr>
            <td rowspan="2">5</td>
            <td rowspan="2">Death claims </td>
            <td>
                Death claims settlements (not requiring investigations)
            </td>
            <td>15 days from receipt of all necessary documents</td>
        </tr>
        <tr>
            <td>
                <p>Early death claims requiring investigations - decision & payment</p>
            </td>
            <td>45 days from receipt of all necessary documents</td>
        </tr>
        <tr>
            <td rowspan="2">6</td>
            <td rowspan="2">Survival, Maturity, annuity payments </td>
            <td>
                <p>Settlement of Maturity Claims</p><hr>
                <p>Settlement of Survival Benefits</p><hr>
                <p>Annuity payments / Pension Payment</p>
            </td>
            <td>On due date</td>
        </tr>
        <tr>
            <td>
                <p>Surrender or partial withdrawal of Policy</p>
            </td>
            <td>7 days from receipt of all necessary documents</td>
        </tr>
        </tbody>
    </table>
</div>
</body>