<td>
    <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
        <tbody>
        <tr>
            <th colspan="6" style="background-color: #000000; color: #fff;font-size: 15px; font-family: arial; padding: 2px 4px; text-align: center;">B. COVERAGE INFORMATION - Type of Coverage</th>
        </tr>
        <tr>
            <td colspan="6" style="padding: 2px 4px;">
                <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
                    <tbody>
                    <tr></tr>
                    <tr>
                        <td width="02%"rowspan="4" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">1.</td>
                        <td width="20%" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">Base Plan</td>
                        <td width="20%" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">Variant Name</td>
                        <td width="10%" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">Policy Term</td>
                        <td width="15%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px; ">Sum Assured</td>
                        <td width="13%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px; ">Premium Payment Term</td>
                        <td width="20%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px; ">Modal Premium</td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial;"th:text=${basePlan}></td>
                        <td width="20%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial;"th:text=${variant}></td>
                        <td width="10%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial;"th:text=${policyTerm}></td>
                        <td width="15%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial;">
                            <span>Rs </span>
                            <span th:if=${sumAssured!='NaN'} th:text=${sumAssured}></span>
                        </td>
                        <td width="13%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial;"th:text=${premimumPayingTerm}></td>
                        <td width="20%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial;">
                            <span>Rs </span>
                            <span th:if=${modalPremium!='NaN'} th:text=${modalPremium}></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;"> </td>
                        <td width="20%" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;"> Income Deferment Period </td>
                        <td width="10%" style="text-align: center; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">Income Period </td>
                        <td width="15%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px;">Income Start Year</td>
                        <td rowspan="2" colspan="2" width="32%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px;">Avail Income on a Special Date
                            <input type="checkbox" th:checked="${AvailDate=='01'}">Yes</input>
                            <input type="checkbox" th:checked="${AvailDate=='02'}">NO</input><br />
                            <input type="checkbox" th:checked="${AvailDate!='01' && AvailDate!='02'}">NA</input>
                            <span >(if yes),please provide date &emsp; <span th:text=${AvailProvideDate}></span></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="20%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px;"> </td>
                        <td width="20%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px;"th:text=${incomeDefermentPeriod}> </td>
                        <td width="10%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px;"th:text=${incomePeriod}> </td>
                        <td width="15%" style="text-align: center; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px;"th:text=${incomeStartYear}> </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        <tr>
            <td colspan="2" style="padding: 2px 4px; font-size: 10px; font-family: arial;height:20px;">
					<span>
						<strong>Modal Premium without GST* and Cess</strong>
					</span>
                <span style="padding-left: 9px;">Rs </span>
                <span th:text=${modalPremiumGST}></span>
            </td>
            <td colspan="2" style="padding: 2px 4px; font-size: 10px; font-family: arial;height:20px;">
					<span>
						<strong>GST* and applicable Cess</strong>
					</span>
                <span style="padding-left: 9px;">Rs </span>
                <span th:text=${GSTCess}></span>
            </td>
            <td colspan="2" style="font-size: 10px; font-family: arial; padding: 2px 4px;height:20px; ">
					<span>
						<strong>Total Premium Paid</strong>
					</span>
                <span style="padding-left: 9px;">Rs </span>
                <span th:text=${totalPremium}></span>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="font-size: 10px; font-family: arial; padding: 2px 4px; font-style: italic;">*GST shall comprise of CGST, SGST/UTGST or IGST (whichever is applicable) including cesses and levies, if any. All applicable taxes, cesses and levies, as per prevailing laws, shall be borne by you.</td>
        </tr>
        <tr>
            <td colspan="6" style="padding-left: 5px; padding-right: 5px; padding-top: 9px; padding-bottom: 5px;font-size: 10px; font-family: arial;">
                <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse; font-size: 10px;">
                    <tbody>
                    <tr>
                        <td width="50%" style="padding: 2px 4px;">
                            <span style="font-weight: bold; font-size: 10px;">2. NEFT BANK A/C DETAILS OF PROPOSER/ JOINT LIFE</span>
                        </td>
                        <td width="50%" style="padding: 2px 4px;">
                            <span style="font-size: 10px; padding-left: 10px; font-style: italic;">All Payouts will be credited to this account through Electronic mode of payment. (This will be applicable at select cities as per facilities / arrangements of Axis Max Life Insurance).</span>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" style="padding: 2px 4px;">Bank Account Number:-
                            <span style="padding-left: 9px;text-transform:uppercase;"th:text=${accountNumber}></span>
                        </td>
                        <td width="50%" style="padding: 2px 4px;">Account Holder's Name:-
                            <span style="padding-left: 9px;text-transform:capitalize;"th:text=${accountHolderName}></span>
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" style="padding: 2px 4px;">MICR Code:-
                            <span style="padding-left: 9px;text-transform:uppercase;"th:text=${micrCode}></span>
                        </td>
                        <td width="50%" style="padding: 2px 4px;">IFSC Code:-
                            <span style="padding-left: 9px;text-transform:uppercase;"th:text=${IFSCCode}></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding: 2px 4px;">Bank Name &amp; Branch:
                            <span style="padding-left: 9px;"th:text=${bankNameBranch}></span>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 2px 4px;">Type of Bank Account:
                            <span style="padding-left: 9px;text-transform:capitalize;">
										<input type="checkbox" th:checked="${typeOfAcc=='Savings Account'}">Saving</input>
                                <input type="checkbox" th:checked="${typeOfAcc=='Current Account'}">Current</input>
                                <input type="checkbox">Others</input>
									</span>
                        </td>
                        <td width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Banking Since: <span style="padding-left: 10px;"th:text=${bankingSince}></span></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding-left: 5px; padding-right: 5px; padding-top: 9px; padding-bottom: 5px;font-size: 10px; font-family: arial;">
                <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
                    <tbody>
                    <tr>
                        <td width="30%" style="padding: 2px 4px; font-size: 10px; font-family: arial;"><span>
										<strong>3. PERMANENT ACCOUNT NUMBER (PAN)</strong>
                                       <span style="padding-left: 9px;"th:text=${pan}></span>
									</span></td>
                        <td width="15%" style="padding: 2px 4px; font-size: 10px; font-family: arial;">
									<span style="padding-left: 10px;">
										<input type="checkbox" th:checked="${isForm60=='YES'}">Form 60</input>
									</span>
                        </td>
                        <td width="10%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial; font-style: italic;">(for proposer)</td>
                        <td width="15%" style="padding: 2px 4px; font-size: 10px; font-family: arial;">
                            <input type="checkbox" th:checked="${isForm60=='YES'}">Form 60</input>
                        </td>
                        <td width="10%" style="text-align: center; padding: 2px 4px; font-size: 10px; font-family: arial; font-style: italic;">(for insured)</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 2px 4px; font-size: 10px; font-family: arial; text-align: right; font-style: italic;">
                TDS may be applicable, in accordance with Income Tax Act 1961, as amended from time to time.
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 2px 4px; font-size: 10px; font-family: arial;">
					<span>
						<strong>4. MODE OF PAYMENT</strong>
					</span>
                <span style="padding-left: 9px;text-transform:capitalize;">
			    <input type="checkbox" th:checked="${modeOfPayment=='Annual' || modeOfPayment=='Single' }">Annual</input>
                    <input type="checkbox" th:checked="${modeOfPayment=='Semi-Annual'}">Semi-Annual</input>
                    <input type="checkbox" th:checked="${modeOfPayment=='Quarterly'}">Quarterly</input>
                    <input type="checkbox" th:checked="${modeOfPayment=='Monthly'}">Monthly</input>
				  </span>
            </td>
        <tr>
            <td colspan="6" style="padding: 2px 4px; font-size: 10px; font-family: arial;">
					<span>
						<strong>5. RENEWAL PREMIUM BY</strong>
					</span>
                <span style="padding-left: 9px;text-transform:capitalize;">
			    <input type="checkbox" th:checked="${renewalPremium=='Cash'}">Cash</input>
                    <input type="checkbox" th:checked="${renewalPremium=='Cheque' || renewalPremium=='CHEQUE'}">Cheque/DD</input>
                    <input type="checkbox" th:checked="${renewalPremium=='Direct Debit'}">Direct Debit</input>
                    <input type="checkbox" th:checked="${renewalPremium=='Credit Card' || renewalPremium=='Credit Card / Debit Card'}">Credit Card / Debit Card</input>
                    <input type="checkbox" th:checked="${renewalPremium=='List Billing'}">List Billing</input>
                    <input type="checkbox" th:checked="${renewalPremium=='UPI'}">UPI</input>
                    <input type="checkbox" th:checked="${renewalPremium=='Enach'}">Enach</input>
				  </span>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="padding: 2px 4px; font-size: 10px; font-family: arial;">
					<span>
						<strong>6. SOURCE OF FUNDS</strong>
					</span>
                <span style="padding-left: 9px;text-transform:capitalize;">
			    <input type="checkbox" th:checked="${sourceOfFund=='Salary'}">Salary</input>
                    <input type="checkbox" th:checked="${sourceOfFund=='Agriculture'}">Agriculture</input>
                    <input type="checkbox" th:checked="${sourceOfFund=='Professional'}">Professional</input>
                    <input type="checkbox" th:checked="${sourceOfFund=='Business'}">Business</input>
                    <input type="checkbox" th:checked="${sourceOfFund=='Other Income'}">Other Income Specify:<span th:if="${sourceOfFund=='Other Income'}" th:text=${occupation}></span>
                    </input>
				  </span>
            </td>
        </tr>
        <tr>
            <td colspan="6" style="font-size: 10px; font-family: arial; padding: 2px 4px;">
					<span>
						<strong>7. IS PAYOR DIFFERENT FROM THE PROPOSER?</strong>
					</span>
                <input type="checkbox" th:checked="${payorDiffFromProposer=='YES'}">Yes</input>
                <input type="checkbox" th:checked="${payorDiffFromProposer=='NO'}">No</input>
            </td>
        </tr>
        </tbody>
    </table>
    <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;" th:if="${payorDiffFromProposer=='YES'}">
        <tbody>
        <tr>
            <td width="30%" style="font-size: 10px; font-family: arial; padding: 5px; ">Name: <span style="padding-left: 10px;"th:text=${payorName}></span></td>
            <td width="20%" style="font-size: 10px; font-family: arial; padding: 5px; ">Gender: <span style="padding-left: 10px;"th:text=${payorGender}></span></td>
            <td width="20%" style="font-size: 10px; font-family: arial; padding: 5px; ">DOB: <span style="padding-left: 10px;"th:text=${payorDOB}></span></td>
            <td width="30%" style="font-size: 10px; font-family: arial; padding: 5px; ">PAN: <span style="padding-left: 10px;"th:text=${payorPan}></span></td>
        </tr>
        <tr>
            <td colspan="2" width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Address: <span style="padding-left: 10px;"th:text=${payoraddress}></span></td>
            <td colspan="2" width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Income: <span style="padding-left: 10px;"th:text=${payorAnnualIncome}></span></td>
        </tr>
        <tr>
            <td colspan="2" width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Relationship to Proposer/Joint Life: <span style="padding-left: 10px;"th:text=${relationShipwithProposer}></span></td>
            <td colspan="2" width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Banking Since: <span style="padding-left: 10px;"th:text=${bankingSince}></span></td>
        </tr>
        <tr>
            <td colspan="6" width="100%" style="font-size: 10px; font-family: arial; padding: 5px; ">
					<span>
						<strong>BANK ACCOUNT DETAILS OF THE PAYOR</strong>
					</span>
            </td>
        </tr>
        <tr>
            <td colspan="2" width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Bank Account Number: <span style="padding-left: 10px;"th:text=${payorAccountNumber}></span></td>
            <td colspan="2" width="50%" style="font-size: 10px; font-family: arial; padding: 5px; ">Bank Name & Branch: <span style="padding-left: 10px;"th:text=${payorBankBranch}></span></td>
        </tr>
        </tbody>
    </table>
</td>
<table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
    <tbody>
    <tr>
        <td style="padding: 2px 4px;font-family: arial;font-size: 10px;">
					<span>
						<strong>8. EFFECTIVE DATE OF COVERAGE</strong>
					</span>
            <span style="padding-left: 9px;"th:text=${desiredEffectiveDateOfPolicy}></span>
        </td>
    </tr>
    <tr>
        <td style="padding: 2px 4px;font-size: 10px; font-family: arial;" colspan="2">
            <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;font-size: 10px; font-family: arial;">
                <tbody>
                <tr>
                    <td width=30%;style="padding: 2px 4px;">
                    <span >
										<strong>9. PREMIUM PAYMENT DETAILS</strong>
									</span>
                    </td>
                    <td width=70%;style="padding: 2px 4px;">
                    <span>
										<strong>Amount in Words:</strong>
									</span>
                    <span style="padding-left: 9px;"></span>
                    <span style="padding-left: 9px;" th:text=${amountWords}></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2px 4px;">
									<span>
										<strong>Paid Rs:</strong>
									</span>
                        <span style="padding-left: 9px;"th:text=${amount}></span>
                    </td>
                    <td style="padding: 2px 4px;">
                        <strong>Payment by</strong>
                        <span style="padding-left: 9px;text-transform:capitalize;">
                            <input type="checkbox" th:checked="${paymentMode=='DIRECT DEBIT'}">Cash</input>
                            <input type="checkbox" th:checked="${paymentMode=='Cheque'}">Cheque</input>
                            <input type="checkbox" th:checked="${paymentMode=='Demand Draft'}">Demand Draft</input>
                            <input type="checkbox" th:checked="${paymentMode=='Cards'}">Credit Card</input>
                            <input type="checkbox" th:checked="${paymentMode=='Net Banking'}">Net Banking</input>
				  </span>
                         <span th:text="${paymentMode}"></span>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 2px 4px;">
									<span>
										<strong>Cheque / Draft No. / Instrument No</strong>
									</span>
                        <span style="padding-left: 9px;"></span>
                        <span style="padding-left: 9px;"th:text=${transactionNumber}></span>
                    </td>
                    <td style="padding: 2px 4px;">
									<span>
										<strong>Date:</strong>
									</span>
                        <span style="padding-left: 9px;"th:text=${paymentDate}></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 2px 4px;">
									<span>
										<strong>Bank Name and Branch:</strong>
										<span style="padding-left: 9px;"></span>
                    <span style="padding-left: 9px;"th:text=${paymentBank}></span>
									</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</td>