<td>
    <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
        <tbody>
        <tr>
            <th width="80%" style="text-align: center; background-color: #000000;border-color: #222222;border-style:solid;border-width:1px; color: #fff;font-size: 16px; font-family: arial; padding: 2px 2px ">C.INFORMATION OF PROPOSER AND LIFE TO BE INSURED</th>
            <th width="10%" style="text-align: center; background-color: #000000;border-color: #222222;border-style:solid;border-width:1px; font-family: arial; padding: 2px 2px ">
                <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                    <tbody>
                    <tr>
                        <td colspan="2" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Proposer</td>
                    </tr>
                    <tr>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Yes</td>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">No</td>
                    </tr>
                    </tbody>
                </table>
            </th>
            <th width="10%" style="text-align: center; background-color: #000000;border-color: #222222;border-style:solid;border-width:1px; font-family: arial; padding: 2px 2px ">
                <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                    <tbody>
                    <tr>
                        <td colspan="2" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Life to be
                            Insured</td>
                    </tr>
                    <tr>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Yes</td>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">No</td>
                    </tr>
                    </tbody>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
    <table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
        <tbody>
        <tr>
            <td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;"></span>Have any of your life insurance applications including simultaneously applied/ renewal/ revivals ever been declined, deferred, withdrawn, or accepted at extra premium or reduced cover or offered any special terms by Axis Max Life or any other insurance company in India or Overseas??</td>
            <td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
                <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                    <tbody>
                    <tr>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
                            <input type="checkbox" th:checked="${everLIIssuedPendingOrRejectedPostponed=='YES'}"></td>
                        </td>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
                            <input type="checkbox" th:checked="${everLIIssuedPendingOrRejectedPostponed!='YES'}"></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
                <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                    <tbody>
                    <tr>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
                            <input type="checkbox" th:checked="${insuredLIExist=='YES'}"></td>
                        </td>
                        <td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
                            <input type="checkbox" th:checked="${insuredLIExist=='NO'}"></td>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>