<td>
  <table border="0" align="center" cellpadding="0" cellspacing="0"
         style="border-collapse: collapse;width: 98%;margin-top: 10px">
    <tbody>
    <!-- Main Wrapper Start Here-->
    <!--<tr>
      <td align='left'><img src="classpath:static/Logo_Pathway_MaxIS.png" alt="Axis Max Life Insurance" width="auto" height="45"/>
      </td>
      <td>&nbsp;</td>
    </tr>-->
    <tr>
      <td style="width:100%"><img src='classpath:static/logo-IRP.png'
                                  alt="Axis Max Life Insurance"
                                  width="100%" height="100"></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td height="32"> &nbsp;</td>
    </tr>
    <tr>
      <td style="padding: 5px 10px; font-size: 20px; font-family: arial;
      text-align: center;width: auto;color: #013873;font-weight: 600;text-transform: uppercase;">GST declaration
      </td>
    </tr>

    <tr>
      <td height="30"> &nbsp;</td>
    </tr>
    <tr>
      <td style="padding: 5px 10px; font-size: 14px; font-family: arial;line-height: 18px;">
        I<span style="padding-left: 10px;text-transform:uppercase;" th:text=${name}></span>, resident of <span th:text=${address}></span>, confirm that I will
        intimate Axis Max Life Insurance in case my residential status changes from Non-resident to resident
        Indian during the year. I will be responsible to compensate Axis Max Life Insurance in case of any
        loss arises in relation to above.
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 10px; font-size: 14px; font-family: arial; width: 100%;">
                <span>
                                        <strong>PolicyNumber:</strong>
                                    </span>
        <span style="padding-left: 10px;text-transform:uppercase;" th:text=${policyNumber}></span>
      </td>
    </tr>
    <tr>
      <td style="padding: 5px 10px; font-size: 14px; font-family: arial; width: 100%;">
                <span>
                                        <strong>SignatureDate:</strong>
                                    </span>
        <span style="padding-left: 10px;text-transform:uppercase;" th:text=${signaturDate}></span>
      </td>
      </td>
    </tr>
    <tr>
      <td height="20"> &nbsp;</td>
    </tr>
    <tr>
      <td style="padding: 5px 10px; font-size: 14px; font-family: arial;">
        This is a system generated document.
      </td>
    </tr>
    <tr>
      <td height="30"> &nbsp;</td>
    </tr>

    </tbody>
  </table>
</td>

