<td>
	<table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
		<tbody>
		<tr>
			<th width="80%" style="text-align: center; background-color: #000000;border-color: #222222;border-style:solid;border-width:1px; color: #fff;font-size: 16px; font-family: arial; padding: 2px 2px ">C. INFORMATION OF LIFE TO BE INSURED</th>
			<th width="10%" style="text-align: center; background-color: #000000;border-color: #222222;border-style:solid;border-width:1px; font-family: arial; padding: 2px 2px ">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td colspan="2" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Proposer/
							Joint Life</td>
					</tr>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Yes</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">No</td>
					</tr>
					</tbody>
				</table>
			</th>
			<th width="10%" style="text-align: center; background-color: #000000;border-color: #222222;border-style:solid;border-width:1px; font-family: arial; padding: 2px 2px ">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td colspan="2" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Life to be
							Insured</td>
					</tr>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">Yes</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 12px; color: #FFFFFF">No</td>
					</tr>
					</tbody>
				</table>
			</th>
		</tr>
		</tbody>
	</table>
	<table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
		<tbody>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;">1.</span> Do you have any life or Critical Illness insurance policy issued, pending approval from any other
				insurance companies or has your application for Life/ Health/ Critical Illness insurance or its
				reinstatement ever been offered at modified terms, rejected or postponed ?</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${insuredLIIssuedPendingOrRejectedPostponed=='YES'}"></td>
						</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${insuredLIIssuedPendingOrRejectedPostponed=='NO'}"></td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
	<table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
		<tbody>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;"></span>  Issued or Pending</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${insuredEverLIIssuedPendingLapsed=='YES'}"></td>
						</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${insuredEverLIIssuedPendingLapsed=='NO'}"></td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;"></span>  LIFE: TOTAL Sum Assured:-</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="100%" style="text-align: center; font-size: 10px;" th:text=${insuredTotalSumAssuredLI}></td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;"></span> CI / DD: TOTAL Sum Assured:-</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
					NA
					</tr>
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsuredTotalSumAssuredCI}></td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;"></span> 	Offered at modified terms, rejected or postponed</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
					NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${insuredEverLIRejectedPostponed=='YES'}"></td>
						</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${insuredEverLIRejectedPostponed=='NO'}"></td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>

		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;">2.</span> In the next 12 months you intend to travel or reside abroad other than on holiday of more than 4 weeks?</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${neoInsuredtravelAbroad=='YES'}"></td>
						</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${neoInsuredtravelAbroad=='NO'}"></td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><span style="font-weight: bold;">3.</span> Do you participate or do you intend to participate in any hazardous activities as part of your Occupation/ Sports/ Hobby?
				<br>
				<span style="padding: 2px 4px;">Details:
						<span style="padding-top: 5px;" th:text="${hazardousActivitesDetails} + ${neoInsuredhazardousActivitesDetails}"></span></span>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${neoInsuredhazardousActivity=='YES'}"></td>
						</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${neoInsuredhazardousActivity=='NO'}"></td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;"><strong style="font-weight: bold;">4.</strong> Have you ever been convicted or are you under investigation for any criminal charges?
				<br>
				<span style="padding: 2px 4px;">
					Details: <span style="padding-top: 5px;" th:text="${criminalChargesDetails} + ${neoInsuredcriminalChargesDetails}"></span></span>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
					 NA
					</tr>
					</tbody>
				</table>
			</td>
			<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
				<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
					<tbody>
					<tr>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${neoInsuredcriminalCharges=='YES'}"></td>
						</td>
						<td width="50%" style="font-weight: bold; text-align: center; font-size: 10px;">
							<input type="checkbox" th:checked="${neoInsuredcriminalCharges=='NO'}"></td>
						</td>
					</tr>
					</tbody>
				</table>
			</td>
		</tr>
		</tbody>
	</table>
	<table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
		<tbody>
			<tr>
				<td style="padding: 2px 4px;font-size: 10px; font-family: arial;" colspan="3">
						<span>
							<strong>5. FOR FEMALE LIFE TO BE INSURED</strong>
						</span>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td colspan="2" style="font-weight: bold; text-align: center; font-size: 12px;" >Proposer/
								Joint Life</td>
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td colspan="2" style="font-weight: bold; text-align: center; font-size: 12px;">Life to be Insured</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">a. Spouse Occupation
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							NA
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsuredSpouseOccupation}></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">b. Spouse Annual Income
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							NA
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsuredspouseAnnualIncome}></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">c. Spouse Insurance Amount
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
						NA
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsureSpouseInsurance}></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">e. Full Name Prior to Marriage (if there is a name change post marriage):
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;">
								<span style="padding-left: 10px;" t>NA</span>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;">
								<span style="padding-left: 10px;" t>NA</span>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">f. Are you pregnant?
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							NA
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsuredPregnant}></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">i) If yes, how many months
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							NA
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsuredPregnantMonths}></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">ii) Do you have any complications related to pregnancy?
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							NA
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;" th:text=${neoInsuredPregnancyComplicated}></td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
			<tr>
				<td width="80%" style="padding: 2px 4px; border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">
					ii.a) If "Yes", Pregnancy Complication Details:
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="100%" style="text-align: center; font-size: 10px;">
								NA
							</td>
						</tr>
						</tbody>
					</table>
				</td>
				<td width="10%" style="padding: 2px 4px; font-size: 10px; font-family: arial;text-align: center">
					<table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
						<tbody>
						<tr>
							<td width="50%" style="text-align: center; font-size: 10px;">
								<span style="padding-left: 10px;" th:text=${neoInsuredAnyComplicancyDetails}></span>
							</td>
						</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</tbody>
	</table>
	<table border="1" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
		<tbody>
			<tr>
				<td style="padding: 2px 4px;font-size: 10px; font-family: arial;" colspan="2">
						<span>
							<strong>6. FOR MINOR LIFE TO BE INSURED (Age <18 yrs.)</strong>
						</span>
				</td>
			</tr>
			<tr>
				<td style="padding: 2px 4px;font-size: 10px; font-family: arial;" width="50%">Parent's Annual Income:-
						<span></span>
				</td>
				<td style="padding: 2px 4px;font-size: 10px; font-family: arial;" width="50%">Parent's - Total insurance cover:-
						<span th:if="${familyCover!='NA'}" th:text=${familyCover}></span>
				</td>
			</tr>
			<!-- Six End-->
		 </tbody>
  </table>
  	<!-- Information of Life to be InsuredEnd here-->
</td>