<!DOCTYPE html>
<html>
<head>
   <title></title>
   <style type="text/css">
      table,td,tr{
         border-collapse: collapse;
      }
      .pageBreakafter{
         page-break-after: always;
      }
      .pageBeakBefore{
         page-break-before: always;
      }
      *{
         font-family: arial !important;
         text-align:left;
      }
      @media print{
         *{
            font-size: 6pt !important;
         }
         .printtext{
            font-size: 11pt !important;
         }
      }
      @page{
         margin:20pt;
         border-left: solid 0.5pt;
         border-top: solid 0.5pt;
         border-bottom: solid 0.5pt;
         border-right: solid 0.5pt;
<!--   NR-8467 Brand Refresh Remove Axis Jv Line -->
<!--         @bottom-left {-->
<!--            content:  url("classpath:static/[[${footer}]]");-->
<!--         }-->
         @bottom-center {
            font-family: arial;
            font-size: 9px;
            content: "-" counter(page) "-";
         }
         @bottom-right {
            font-family: arial;
            font-size:9px;
            content: "TRAD_STD_0624_5.13";
         }
      }
   </style>
</head>
<body style="margin: 0 auto;padding: 0;width: 100%">
<table border="1" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
   <tbody>
   <!-- Main Wrapper Start Here-->
   <tr>
      <td>
         <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
            <tbody>
            <tr>
               <td>
                  <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                     <tbody>
                     <tr>
                        <td valign="top" width="60%">
                           <table style="width: 100%;" cellspacing="0" cellpadding="0">
                              <tbody>
                              <tr>
                                 <td>
                                    <table style="width: 100%; float: left;" cellspacing="0" cellpadding="0">
                                       <tbody>
                                       <tr>
                                          <td width="75px" style="padding: 2px"><img src="classpath:static/logo_ax_max.png" alt="Axis Max Life Insurance" width="auto" height="45"/></td>
                                          <td style="padding: 2px">
                                             <div style="font-size: 15px !important; font-family: arial; font-weight: bold;">AXIS MAX LIFE INSURANCE LIMITED  <br> (Formerly known as Max Life Insurance Company Limited)</div>
                                             <div style="font-size: 10px; font-family: arial;">Regd. Office : 419, Bhai Mohan Singh Nagar, Railmajra, Tehsil Balachaur, District Nawanshahr, Punjab, 144533</div>
                                             <div style="font-size: 10px; font-family: arial;">Head Office: 11th & 12th Floor, DLF Square, Jacaranda Marg, DLF City Phase-II, Gurugram - Haryana, 122002</div>
                                          </td>
                                       </tr>
                                       <tr>
                                          <td colspan="2">
                                             <table width="100%" border="0" cellspacing="0" cellpadding="2" style="border-collapse: collapse;border-top: 1px solid black">
                                                <tbody>
                                                <tr>
                                                   <td>
                                                      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                                                         <tbody>
                                                         <tr>
                                                            <td width="60%">
                                                               <div style="font-size: 14px; font-family: arial; font-weight: bold;"><strong>Non Linked Proposal Form</strong></div>
                                                            </td>
                                                         </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                                <tr>
                                                   <td>
                                                      <table width="100%" border="0" cellspacing="0" cellpadding="1" style="border-collapse: collapse; padding-top: 5px;">
                                                         <tbody>
                                                         <tr>
                                                            <td width="60%" style="font-weight: normal; font-size: 12px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>Proposal Number:</b></span><span style="display: inline-block;text-transform:uppercase"th:text=${proposalNumber}></span></td>
                                                            <td width="40%" style="font-size: 10px; font-family: arial;"><span style="display: inline-block;padding-right:5px;">GO/CA/Broker Code:</span><span style="display: inline-block;text-transform:uppercase"th:text=${gocaBrokerCode}></span></td>
                                                         </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                                </tbody>
                                             </table>
                                          </td>
                                       </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                              </tbody>
                           </table>
                        </td>
                        <td width="25px;">
                           <img th:src= "${proposerImage}" alt="proposer image not available" width="auto" height="50px"/>
                           <div style="font-weight: bold; text-align: center; font-size: 12px;">Proposer/ Joint Life </div><br>
                           <div style="text-align: center; font-size: 10px;">Attach Recent Photograph</div>
                        </td>
                        <td width="25px;"><img th:src= "${payorImage}" alt="payor image not available" width="auto" height="50px"/>
                           <div style="font-weight: bold; text-align: center; font-size: 12px;">Payor </div><br>
                           <div style="text-align: center; font-size: 10px;">Attach Recent Photograph</div>
                        </td>

                     </tr>
                     <tr>
                     <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px">Do you have a Axis Max Life Insurance Policy or have currently applied simultaneous policies?
                        <input type="checkbox" th:checked="${existingCustomerComboSale=='YES'}">Yes</input>
                        <input type="checkbox" th:checked="${existingCustomerComboSale=='NO'}">No.</input>
                        <span style="font-weight: normal; font-size: 10px; font-family: arial; padding-left: 20px;">If yes give Policy/Proposal number  </span>
                        <span style="display: inline-block; padding-left: 5px;" th:if=${existingPolicyNumberComboSale!='0'} th:text=${existingPolicyNumberComboSale}></span>
                        <p style="text-align: right; padding-right: 15px;" th:if="${existingPolicyNumber!='0'}" th:text="${existingPolicyNumber}"></p>
                     </td>
                     </tr>
                     <tr>
                        <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px">
                           <table cellpadding="0" cellspacing="0" border="0" width="100%">
                              <td width="15%">
                                 <span><b>Purpose of Insurance</b></span>
                              </td>
                              <td width="85%">
                                 <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                       <td><input type="checkbox" th:checked="${true}">Savings</input></td>
                                       <td><input type="checkbox">Child Future</input></td>
                                       <td><input type="checkbox">Pension</input></td>
                                       <td><input type="checkbox">Protection</input></td>
                                       <td><input type="checkbox">Tax Benefit</input></td>
                                    </tr>
                                 </table>
                              </td>
                           </table>
                        </td>
                     </tr>
                     <tr>
                        <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><span style="display: inline-block;padding-right:5px;"><b>Objective of Insurance</b></span>
                           <input type="checkbox">E/E</input>
                           <input type="checkbox">MWPA</input>
                           <input type="checkbox">HUF</input>
                           <input type="checkbox">CEIP</input>
                           <input type="checkbox">Keyman</input>
                           <input type="checkbox">Partnership</input>
                           <input type="checkbox" th:checked="${true}">Individual</input>
                        </td>
                     </tr>
                     <tr>
                           <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><span style="display: inline-block;padding-right:25px; font-weight: bold;"><b>Product Solution ________________</b></span>
                              <input type="checkbox"><span style="display: inline-block;padding-right:25px; font-weight: bold;">Affinity Customer</span></input>
                              <input type="checkbox" th:checked="${existingCustomer=='YES'}"><span style="display: inline-block;padding-right:25px; font-weight: bold;">Existing Customer</span></input>
                              <span style="display: inline-block;padding-right:25px; font-weight: bold;">I want to receive physical policy document</span>
                              <span style="display: inline-block;padding-right:5px;" th:text="${goGreen == '01' ? 'No' : 'Yes'}"></span>
                           </td>
                     </tr>
                     <tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            </tbody>
         </table>
      </td>
   </tr>
   <tr width="100%" th:utext=${personalDetails}>
   </tr>
   <tr width="100%" th:utext=${coverageDetails}>
   </tr>
   <tr width="100%" th:utext=${lifeInsuredDetails}>
   </tr>
   <tr width="100%" th:utext=${medicalDetails}>
   </tr>
   <tr width="100%" th:utext=${declarationDetails}>
   </tr>
   <tr width="100%" th:utext=${ckycDetails}>
   </tr>
   <tr width="100%" th:utext=${proposalFormAnnexure}>
   </tr>
   <tr width="100%" th:if=${isCovidQuestionnaire==true} th:utext=${covidQuestionnaireAnnexure}>
   </tr>
   <tr width="100%" th:if=${isCovidQuestionnaire==false} th:utext=${covidQuestionnaireFalseAnnexure}>
   </tr>
   <tr width="100%" th:if=${isDiabeticQuestionnaire==true} th:utext=${diabeticQuestionnaireAnnexure}>
   </tr>
   <tr width="100%" th:if=${isHighBloodPressureQuestionnaire==true} th:utext=${highBloodPressureQuestionnaireAnnexure}>
   </tr>
   <tr width="100%" th:if=${isRespiratoryDisorderQuestionnaire==true} th:utext=${respiratoryDisorderQuestionnaireAnnexure}>
   </tr>
   <tr width="100%" th:utext=${pphiNomineeDetails}>
   </tr>
   </tbody>
</table>
<table cellspacing="0" cellpadding="0" width="100%">
   <tbody>
   <tr>
<!--      <div th:if="${isNotYBLProposal}">-->
<!--         <td style="padding: 2px 2px"><img src="classpath:static/footer_updated.png" alt="Max Life Insurance footer"-->
<!--                                           height="20px"/></td>-->
<!--      </div>-->
      <td style="padding: 2px 4px; text-align: right; font-size: 10px; font-family: arial;">
         <div style="padding: 2px 4px; text-align: right; font-size: 10px; font-family: arial;padding-bottom: 5px;">
            TRAD_STD_0624_5.13
         </div>
      </td>
   </tr>
   </tbody>
</table>
</body>
</html>