<td style="width: 100%;">
    <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
        <tr>
            <td style="width: 100%;">
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <th style="width: 100%; background-color: #003770; color: #fff;font-size: 12px; font-family: arial; padding: 2px 4px;" align="left">A. PROPOSER/ANNUITANT DETAILS</th>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%;"></td>
                        <td style="width: 23.33%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">PROPOSER</td>
                        <td style="width: 23.33%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">FIRST ANNUITANT</td>
                        <td style="width: 23.33%; font-weight: bold; font-size: 10px; font-family: arial; padding: 2px 4px; ">SECOND ANNUITANT<span style="font-weight: normal;">(If Joint Life is chosen)</span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">1. Title</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${title}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${title}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredtitle}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; font-size: 10px; font-family: arial;">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
                                <tbody>
                                <tr>
                                    <td style="width: 60%; font-weight: bold;padding: 2px 4px;font-size: 10px;border-right-color: #808080;border-right-style:solid;border-right-width:1px;font-family: arial;">2. Name</td>
                                    <td style="width: 40%; font-weight: bold;font-size: 10px; font-family: arial;">
                                        <table cellspacing="0" border="0" cellpadding="5" style="width: 100%; border-collapse: collapse;">
                                            <tbody>
                                            <tr>
                                                <td height="25" style="font-weight: bold;font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;">First</td>
                                            </tr>
                                            <tr>
                                                <td height="25" style="font-weight: bold;font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;">Middle </td>
                                            </tr>
                                            <tr>
                                                <td height="25">Last</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <!-- ${personalDetails} Start -->
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;">
                            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%; border-collapse: collapse; vertical-align: top;text-transform:uppercase;">
                                <tbody>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${firstName}></td>
                                </tr>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${middleName}></td>
                                </tr>
                                <tr>
                                    <td height="25" th:text=${lastName}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;">
                            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%; border-collapse: collapse; vertical-align: top;text-transform:uppercase;">
                                <tbody>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${firstName}></td>
                                </tr>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${middleName}></td>
                                </tr>
                                <tr>
                                    <td height="25" th:text=${lastName}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;">
                            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%; border-collapse: collapse; vertical-align: top;text-transform:uppercase;">
                                <tbody>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${insuredfirstName}></td>
                                </tr>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${insuredmiddleName}></td>
                                </tr>
                                <tr>
                                    <td height="25" th:text=${insuredlastName}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; font-size: 10px; font-family: arial;">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%" style="border-collapse: collapse;">
                                <tbody>
                                <tr>
                                    <td style="width: 60%; font-weight: bold;padding: 2px 4px;font-size: 10px; border-right-color: #808080;border-right-style:solid;border-right-width:1px; font-family: arial;">3. Father's / Husband Name</td>
                                    <td style="width: 40%; font-weight: bold;font-size: 10px; font-family: arial;">
                                        <table cellspacing="0" border="0" cellpadding="5" style="width: 100%; border-collapse: collapse;">
                                            <tbody>
                                            <tr>
                                                <td height="25" style="font-weight: bold;font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;">First</td>
                                            </tr>
                                            <tr>
                                                <td height="25">Last</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;">
                            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%; border-collapse: collapse; vertical-align: top;text-transform:uppercase;">
                                <tbody>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${fatherFirstName}></td>
                                </tr>
                                <tr>
                                    <td height="25" style="font-size: 10px;font-family: arial;" th:text=${fatherLastName}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;">
                            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%; border-collapse: collapse; vertical-align: top;text-transform:uppercase;">
                                <tbody>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${fatherFirstName}></td>
                                </tr>
                                <tr>
                                    <td height="25" style="font-size: 10px;font-family: arial;" th:text=${fatherLastName}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;">
                            <table cellspacing="0" cellpadding="5" border="0" style="width: 100%; border-collapse: collapse; vertical-align: top;text-transform:uppercase;">
                                <tbody>
                                <tr>
                                    <td height="25" style="font-size: 10px;border-bottom-color: #808080;border-bottom-style:solid;border-bottom-width:1px;font-family: arial;" th:text=${insuredfatherFirstName}></td>
                                </tr>
                                <tr>
                                    <td height="25" style="font-size: 10px;font-family: arial;" th:text=${insuredfatherLastName}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">4. Date of Birth</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${dob}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${dob}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insureddob}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">5. Gender</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase" th:text=${gender}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase" th:text=${gender}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredgender}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">6. Nationality</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${nationality}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${nationality}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insurednationality}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr th:if="${nationality!='indian'}">
                        <!-- FUL2-7486 Changes related to FACTA : Changed field name from Residing country to Residence for Tax purposes in Jurisdiction(s) outside India -->
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">6a. Residence for Tax purposes in Jurisdiction(s) outside India</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${residingCountry}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${residingCountry}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredresidingCountry}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">7. Relationship to Annuitant</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${relationShipWithProposer}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${relationShipWithProposer}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredrelationShipWithProposer}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">8. Marital Status</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${maritialStatus}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${maritialStatus}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredmaritialStatus}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">9. Organisation Type</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${organisationType}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${organisationType}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredorganisationType}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; font-size: 10px; font-family: arial;">
                            <table border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                                <tbody>
                                <tr>
                                    <td style="width: 100%; font-weight: bold;padding: 2px 4px;font-size: 10px;font-family: arial;">10. Occupation / Job Title</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${occupation}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${occupation}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredoccupation}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">11. Name of entity / employer</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${nameOfEmployer}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${nameOfEmployer}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insurednameOfEmployer}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td style="width: 30%; font-weight: bold; padding: 2px 4px; font-size: 10px; font-family: arial;">12. Annual Income (Rs)</td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${annualIncome}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${annualIncome}></td>
                        <td style="width: 23.33%; font-size: 10px; font-family: arial;padding: 2px 4px;text-transform:uppercase;" th:text=${insuredannualIncome}></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="100%" style="font-size: 10px; font-family: arial;padding: 4px;"><span><strong>13. Is the Proposer/Annuitant/Nominee a Politically Exposed Person? : </strong></span><span style="text-transform:uppercase;" th:text=${isPEP}></span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr th:if=${pep}>
                        <td width="100%" style="font-size: 10px; font-family: arial;padding:5px">
                            <table width="100%" cellpadding="5" cellspacing="0" border="1" style="border-collapse: collapse; vertical-align: top;font-size: 10px;">
                                <tbody>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>a. Which of the following persons in PEP (Tick as applicable):</strong>
                                    </td>
                                    <td width="30%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Proposer/Annuitant:</strong>
                                    </td>
                                    <td width="30%" th:text=${isLIPep}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Family Member of Proposer/Annuitant:</strong>
                                    </td>
                                    <td width="30%" th:text=${isFamilyPep}></td>
                                </tr>
                                <tr th:if="${formType} == 'SELF'">
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Nominee:</strong>
                                    </td>
                                    <td width="30%" th:text=${isNomineePep}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Second Annuitant:</strong>
                                    </td>
                                    <td width="30%" th:text=${isPayor}></td>
                                </tr>
                                <tr th:if="${isFamilyPep} == 'YES'">
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Please Specify Which Family Member:</strong>
                                    </td>
                                    <td width="30%" th:text="${specifyMember}">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>b. Please specify the extend of Political involvement:</strong>
                                    </td>
                                    <td width="30%"></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>1. Political Experience (Years):-</strong>
                                    </td>
                                    <td width="30%" th:text=${politicalExperience}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>2. Affiliation to Political Party:-</strong>
                                    </td>
                                    <td width="30%" th:text=${affiliation}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>3. Role in Political Party:-</strong>
                                    </td>
                                    <td width="30%" th:text=${role}></td>
                                </tr>
                                <tr th:if="${role} == 'OTHERS'">
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Please Specify Role:</strong>
                                    </td>
                                    <td width="30%" th:text=${specifyRoleOther}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>4. Portfolio Handled:-</strong>
                                    </td>
                                    <td width="30%" th:text=${portfolio}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>5. Whether Party in Power:-</strong>
                                    </td>
                                    <td width="30%" th:text=${power}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>c. Whether the concerned PEP has ever been posted in foreign office/portfolio?:</strong>
                                    </td>
                                    <td width="30%" th:text=${foreignOffice}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Please Specify PEP Office:</strong>
                                    </td>
                                    <td width="30%" th:text=${pepOffice}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>d. Please specify all sources of income of concerned PEP?:-</strong>
                                    </td>
                                    <td width="30%" th:text=${sourceOfIncome}></td>
                                </tr>
                                <tr>
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>e. Has the concerned PEP ever been convicted or is under any investigation for any crime punishable by 3 or more years of imprisonment?:</strong>
                                    </td>
                                    <td width="30%" th:text=${criminalCharges}></td>
                                </tr>
                                <tr th:if="${criminalCharges} == 'YES'">
                                    <td width="70%" style="padding-left: 15px">
                                        <strong>Please Provide Conviction Details:</strong>
                                    </td>
                                    <td width="30%" th:text=${convictionDetails}></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="100%" height="20px" style="font-size: 10px; font-family: arial;"><span style="padding: 2px 4px;display: inline-block;"><strong>14. Communication Address (Proposer/ First Annuitant)</strong></span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="100%" style="font-size: 10px; font-family: arial;padding:5px">
                            <table width="100%" cellpadding="5" cellspacing="0" border="1" style="border-collapse: collapse; vertical-align: top;">
                                <tbody>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">House No./Apt. Name:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${houseNumber}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px; padding: 2px 4px;font-family: arial;padding-left:9px">Society Road/Area/Sector:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${area}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Landmark:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${landmark}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Village/Town:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${village}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">City/District:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${city}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Pin Code:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding:0;">
                                        <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px; border-right: 1px solid #000;text-transform:uppercase;"><span th:text=${pinCode}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>State/UT:</span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000;text-transform:uppercase;"><span th:text=${state}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>Country:</span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${country}></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Mobile No. 1:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding:0;">
                                        <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px; border-right: 1px solid #000;"><span th:text=${mobileNumber}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>Mobile No. 2:</span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span th:text=${alternate}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>STD Code:</span></td>
                                                <td width="100px" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span th:text=${std}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>Telephone</span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;"><span th:text=${landline}></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Email ID:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px"><span th:text=${email}></span></td>
                                    <!-- Communication Address End here-->
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <!-- Permanent Address Start here-->
                    <tr>
                        <td width="100%" style="font-size: 10px; font-family: arial;"><span style="padding: 2px 4px;display: inline-block;"><strong>15. Permanent Residential Address (Optional)</strong></span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="100%" style="font-size: 10px; font-family: arial;padding:5px">
                            <table width="100%" cellpadding="5" cellspacing="0" border="1" style="border-collapse: collapse; vertical-align: top;">
                                <tbody>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">House No./Apt. Name:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${permHouse}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Society Road/Area/Sector:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${permArea}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Landmark:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${permlandMark}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Village/Town:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${permvillage}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">City/District:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;text-transform:uppercase;"><span th:text=${permCity}></span></td>
                                </tr>
                                <tr>
                                    <td width="30%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px">Pin Code:</td>
                                    <td width="70%" colspan="1" style="font-size: 10px;padding: 2px 4px; font-family: arial;padding:0;">
                                        <table width="100%" cellpadding="5" cellspacing="0" border="0" style="border-collapse: collapse; vertical-align: top;">
                                            <tbody>
                                            <tr>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px; border-right: 1px solid #000;"><span th:text=${permPincode}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>State/UT:</span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000;text-transform:uppercase;"><span th:text=${permState}></span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000"><span>Country:</span></td>
                                                <td style="font-size: 10px;padding: 2px 4px; font-family: arial;padding-left:9px;border-right: 1px solid #000;text-transform:uppercase;"><span th:text=${permCountry}></span></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="70%" colspan="2" style="font-size: 10px; font-family: arial;"><span style="padding: 2px 4px;display: inline-block;"><strong>16. Preferred Mailing Address.</strong></span></td>
                        <td width="30%" colspan="2" style="font-size: 10px; font-family: arial; padding-left: 9px"><span style="padding: 2px 4px;display: inline-block;">Communication Address</span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="70%" colspan="2" style="font-size: 10px; font-family: arial;"><span style="padding: 2px 4px;display: inline-block;"><strong>16 a. I/We agree to receive regular promotional updates / alerts from Axis Max life from time to time.</strong></span></td>
                        <td width="30%" colspan="2" style="font-size: 10px; font-family: arial; padding-left: 9px"><span style="padding: 2px 4px;display: inline-block;"th:text="${customerReminderConsent}"></span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr>
                        <td width="70%" colspan="3" style="font-size: 10px; font-family: arial;"><span style="padding: 2px 4px;display: inline-block;"><strong>17. Do you wish to hold this policy electronically under e -insurance ?</strong></span></td>
                        <td width="30%" colspan="1" style="font-size: 10px; font-family: arial;padding-left: 9px;"><span style="padding: 2px 4px;display: inline-block;" th:text=${isEIA}></span></td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr th:if="${isEIA == 'YES'}">
                        <td width="100%" style="font-size: 10px; font-family: arial;padding-left: 10px;">
                            <span style="padding: 5px;display: inline-block;">
                                <strong>a. Provide existing E - insurance Account Number:</strong>
                            </span>
                            <span th:text=${EAccNumberExist}></span>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr th:if="${isEIA == 'YES'}">
                        <td width="100%" style="font-size: 10px; font-family: arial;padding-left: 10px;">
                            <span style="padding: 5px;display: inline-block;">
                                <strong>b. e - insurance Account Number:</strong>
                            </span>
                            <span th:text=${insuranceRepositoryExist}></span>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr th:if="${isEIA == 'YES' && EAccNumberExist == 'YES'}">
                        <td width="100%" style="font-size: 10px; font-family: arial;">
                            <span style="padding: 5px;display: inline-block;">
                                <strong>e-Insurance Account No. (if available):</strong>
                            </span>
                            <span th:text=${EInsAccNumber}></span>
                        </td>
                    </tr>
                </table>
                <table border="1" cellspacing="0" cellpadding="0" style="width: 100%; border-collapse: collapse;">
                    <tr th:if="${isEIA == 'YES' && EAccNumberExist == 'NO'}">
                        <td width="100%" style="font-size: 10px; font-family: arial;">
                            <span style="padding: 5px;display: inline-block;">
                                <strong>Preferred Insurance Repository you would like to have your e-lnsurance Account.</strong>
                            </span>
                            <span th:text=${insuranceRepository}></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</td>