<!DOCTYPE html>
<html>
   <head>
      <title></title>
      <style type="text/css">
         table,td,tr{
         border-collapse: collapse;
         }
         .pageBreakafter{
         	page-break-after: always;
         }
         .pageBeakBefore{
         	page-break-before: always;
         }
         *{
            font-family: arial !important;
            text-align:left;
         }
         @media print{
         *{
         font-size: 6pt !important;
         }
         .printtext{
         font-size: 11pt !important;
         }
         }
         @page{
    		margin:20pt;
    		border-left: solid 1.5pt;
    		border-top: solid 1.5pt;
    		border-bottom: solid 1.5pt;
    		border-right: solid 1.5pt;
    		@bottom-right {
    			font-family: arial;
    			font-size:9px;
        		content: "Page " counter(page) " of " counter(pages);
    		}
		}
      </style>
   </head>
   <body style="margin: 0 auto;padding: 0;width: 100%">
      <table border="1" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
         <tbody>
            <!-- Main Wrapper Start He re-->
            <tr>
               <td colspan="3">
                  <table border="0" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;">
                     <tbody>
                        <tr>
                           <td>
                              <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                                 <tbody>
                                    <tr>
                                       <td valign="top">
                                          <table style="width: 100%;" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                <tr>
                                                   <td>
                                                      <table style="width: 100%; float: left;" cellspacing="0" cellpadding="0">
                                                         <tbody>
                                                            <tr>
                                                               <td width="75px" style="padding: 2px"><img src="classpath:static/logo_ax_max.png" alt="Axis Max Life Insurance" width="auto" height="45"/></td>
                                                               <td valign="top" style="padding: 2px">
                                                                  <div style="font-size: 15px !important; font-family: arial; font-weight: bold;">AXIS MAX LIFE INSURANCE LIMITED  <br> (Formerly known as Max Life Insurance Company Limited)</div>
                                                                  <div style="font-size: 10px; font-family: arial;">Regd. Office : 419, Bhai Mohan Singh Nagar, Railmajra, Tehsil Balachaur, District Nawanshahr, Punjab- 144533</div>
                                                               <!-- FUL2-144666-->
                                                                  <div style="font-size: 10px; font-family: arial;">Head Office: 11th &amp; 12th Floor, DLF Square, Jacaranda Marg, DLF City Phase-II, Gurugram - Haryana,  122002.</div>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td colspan="2">
                                                                  <table width="100%" border="0" cellspacing="0" cellpadding="2" style="border-collapse: collapse;border-top: 1px solid black">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td>
                                                                              <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td width="60%">
                                                                                          <div style="font-size: 10px; font-family: arial; font-weight: bold;"><strong>NON LINKED PROPOSAL FORM</strong></div>
                                                                                       </td>
                                                                                       <td width="40%" style="font-weight: normal; font-size: 14px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>PROPOSAL NUMBER:</b></span><span style="display: inline-block;text-transform:uppercase"th:text=${proposalNumber}></span></td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                        <tr th:if="${channel!='X'}">
                                                                           <td>
                                                                              <table width="100%" border="0" cellspacing="0" cellpadding="1" style="border-collapse: collapse;">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td style="font-weight: normal; font-size: 10px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>GO/CA/Broker Code:</b></span><span style="display: inline-block;text-transform:uppercase"th:text=${gocaBrokerCode}></span></td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </td>
                                                                        </tr>

                                                                        <tr th:if="${channel=='X'}">
                                                                           <td>
                                                                              <table width="100%" border="0" cellspacing="1" cellpadding="0" style="border-collapse: collapse;">
                                                                                 <tbody>
                                                                                    <tr>
                                                                                       <td width="33%" style="font-weight: normal; font-size: 10px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>Combo Proposal Number:</b></span><span style="display: inline-block;text-transform:uppercase" th:text=${comboProposalNumber}></span></td>
                                                                                       <td width="33%" style="font-weight: normal; font-size: 10px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>GO/CA/Broker Code:</b></span><span style="display: inline-block;text-transform:uppercase"th:text=${gocaBrokerCode}></span></td>
                                                                                       <td width="33%" style="font-weight: normal; font-size: 10px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>Customer ID:</b></span><span style="display: inline-block;text-transform:uppercase"th:text=${customerId}></span></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                     <td width="100%" colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;"><span style="display: inline-block;padding-right:5px;"><b>For Traditional Insurance Plans this proposal is solicited by Axis Bank a Corporate Agent of Axis Max Life Insurance Ltd.</b></span><span style="display: inline-block;text-transform:uppercase"></span></td>
                                                                                    </tr>
                                                                                 </tbody>
                                                                              </table>
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>

											<td th:if="${payor=='NO'}" valign="middle" width="18%"><img th:src= "${proposerImage}" alt="Image not available" width="100%" height="auto"/></td>

											<td  th:if="${payor=='YES'}" valign="middle" width="18%"><img th:src= "${proposerImage}" alt="Image not available" width="100%" height="auto"/></td>
											<td  th:if="${payor=='YES'}" valign="middle" width="18%"><img th:src= "${payorImage}" alt="Image not available" width="100%" height="auto"/></td>

                                    </tr>
                                    <tr>
                                    <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px">Do You have an Axis Max Life Insurance Policy or have currently applied simultaneous policies?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<span style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px">If yes give Policy/Proposal number </span><span style="display: inline-block;text-transform:uppercase"th:text=${existingPolicyNumber}></span></td>
                                    </tr>
                                    <tr>
                                       <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><div style="float:left;"><span style="display: inline-block;padding-right:5px;"><b>Purpose of Insurance:</b></span><span style="display: inline-block;text-transform:uppercase" th:text=${purposeOfInsurance}></span></div>
                                          <div th:if="${finalStage=='YES'}" style="text-align:center;padding-left:20px" ><span th:if="${finalStage=='YES'}" style="display: inline-block;padding-right:5px;">I want to receive physical policy document-</span><span th:if="${finalStage=='YES'}" style="display: inline-block;text-transform:uppercase" th:utext=${physicalPolicy}></span></div></td>
                                    </tr>
                                    <tr>
                                       <td colspan="3" style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><span style="display: inline-block;padding-right:5px;"><b>Objective of Insurance</b></span><span style="display: inline-block;text-transform:uppercase"th:text=${objectiveOfInsurance}></span></td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <table width="100%" border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;">
                                 <tbody>
                                 <tr>
                                    <td width="64%" colspan="1"
                                        style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><span
                                            style="display: inline-block;padding-right:5px;"><b>Product Solution</b></span><span
                                            style="display: inline-block;text-transform:uppercase" th:text=${productSolution}></span></td>
                                    <td width="18%" colspan="1"
                                        style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><span
                                            style="display: inline-block;padding-right:5px;"><b>Affinity Customer:</b></span><span
                                            style="display: inline-block;text-transform:uppercase" th:text=${affinityCustomer}></span></td>
                                    <td width="18%" colspan="1"
                                        style="font-weight: normal; font-size: 10px; font-family: arial;padding: 2px 4px"><span
                                            style="display: inline-block;padding-right:5px;"><b>Existing Customer:</b></span><span
                                            style="display: inline-block;text-transform:uppercase" th:text=${existingCustomer}></span></td>
                                 </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr width="100%" th:utext=${personalDetails}>
            </tr>
            <tr width="100%" th:utext=${nomineeDetails}>
            </tr>
            <tr width="100%" th:utext=${coverageDetails}>
            </tr>
            <tr width="100%" th:utext=${lifeInsuredDetails}>
            </tr>
            <tr width="100%" th:utext=${medicalDetails}>
            </tr>
            <tr width="100%" th:utext=${declarationDetails}>
            </tr>
            <tr style="page-break-before:always;page-break-after:always;">
               <td style=" width: 100%;" height="10"></td>
            </tr>
            <tr width="100%" th:utext=${AnnexureMedicalDetails}>
            </tr>
            </tr>
            <tr width="100%" th:utext=${gstWaiverDeclarationDetails}>
            </tr>
            <tr width="100%" th:utext=${pphiNomineeDetails}>
            </tr>
            <table>
               <tbody>
                  <tr>
                     <td height="40"></td>
                  </tr>
               </tbody>
            </table>
         </tbody>
      </table>

      <table cellspacing="0" cellpadding="5" width="100%" style="border-collapse: collapse; border-color: #ccc;border-style:solid;border-width:1px;padding:5px;">
         <tbody>
         <tr>
            <td colspan="2" style="padding: 3px;border-color: #ccc;border-style:solid;border-width:1px; font-size: 10px; font-family: arial;">
               <p style="line-height: 12px;font-size: 10px"><strong>Abbreviations:</strong></p>
               <p style="line-height: 12px;font-size: 10px">E/E = Employer-Employee<br>
                  MWPA = Married Women Property Act<br>
                  HUF = Hindu Undivided Family <br>
                  CEIP = Corporate Employee Insurance Program<br>
                  PIO = Person of Indian Origin<br>
                  NRI = Non-Resident Indian<br>
                  GST = Goods and Service Tax<br>
                  TDS = Tax Deducted at Source
               </p>
            </td>
         </tr>
         </tbody>
      </table>

        <table cellspacing="0" cellpadding="0" width="100%">
           <tbody>
           <tr>
<!--              <div th:if="${isNotYBLProposal}" >-->
<!--                 <td style="padding: 2px 2px"><img src="classpath:static/footer_updated.png" alt="Max Life Insurance footer" height="20px"/></td>-->
<!--              </div>-->
              <td style="padding: 2px 4px; text-align: right; font-size: 10px; font-family: arial;">
                 <div style="padding: 2px 4px; text-align: right; font-size: 10px; font-family: arial;padding-bottom: 5px;" th:text=${pdfVersion}></div>
              </td>
           </tr>
           </tbody>
        </table>
   </body>
</html>
