
<p><img alt="" src="https://www.axismaxlife.com/content/dam/corporate/images/max-life-logo.png" />&nbsp; &nbsp; &nbsp;</p>

<p>&nbsp; <strong>PENNY DROP VALIDATION DOCUMENT</strong></p>

<table align="left" border="1" cellpadding="1" cellspacing="1" style="width:500px;border-collapse: collapse;">
	<tbody>
		<tr>
			<td>
			<p><strong>Date</strong></p>
			</td>
			<td><span th:text="${date}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>Policy No</strong></p>
			</td>
			<td><span th:text="${PolicyNumber}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>Proposer Name</strong></p>
			</td>
			<td><span th:text="${proposerName}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>Bank Account Number</strong></p>
			</td>
			<td><span th:text="${bankAccountNumber}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>MICR Code</strong></p>
			</td>
			<td><span th:text="${micrCode}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>IFSC Code</strong></p>
			</td>
			<td><span th:text="${ifscCode}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>Branch Name</strong></p>
			</td>
			<td><span th:text="${branchName}"></span></td>
		</tr>
		<tr>
			<td>
			<p><strong>Bank Account Verified</strong></p>
			</td>
			<td><span th:text="${isPennyDropVerified}"></span></td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
