<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title></title>
</head>
<body>
<div style="font-family:'Helvetica',sans-serif;font-size:21px;font-weight:400;margin:0;background-color:#fff">
    <table cellpadding="0" cellspacing="0" style="width:100%;margin:0 auto;text-align:justify-all;background:#fff">
        <tbody>
        <tr>
            <td style="font-family:'Helvetica',Helvetica,arial;font-size:15px; line-height: 18px;padding: 25px 0px 30px 0px; margin-left:0px;">
                <strong>
                    As per the Govt's regulations, it's the responsibility of the customer to provide either of the following OVD's within 3 months of policy issuance. Further, in future, Govt. may ask  mandate insurers to make the policy accounts "in-operative", where KYC is not completed/OVD is not received. Hence, you are requested to submit the OVD as early as possible within a maximum time frame of 3 months from the date of Policy Issuance.
                </strong>
            </td>
        </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" style="max-width:620px;width:100%;margin:0 auto;text-align:left;background:#fff">
        <tbody>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">
                <b>OVD - </b><br></td>
        </tr>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">A - Passport
            </td>
        </tr>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">B - Voter's Identity Card issued by Election Commission of India
            </td>
        </tr>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">C - Driving License
            </td>
        </tr>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">D - Job card issued by NREGA duly signed by an officer of the State Government
            </td>
        </tr>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">E - Letter issued by UIDAI or National Population Register (NPR) containing details of name, address and Aadhar number.
            </td>
        </tr>
        <tr>
            <td align="left"
                style="font-family:'Helvetica',Helvetica,arial;font-size:14px;color:#808080;line-height: 22px; text-align: left; margin-left:0px; background-color:#ffffff;">F - Proof of possession of Aadhar number - the physical copy of e-Aadhar, masked Aadhar and Offline Aadhar XML or as may be decided by the Authority (UIDAI) from time to time.
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
