
<style>
    .annexure{
      font-size:14px;
      font-family: sans-serif;
      margin: 10pt 40pt 20pt 40pt;
    }
    ol.lr {
        list-style-type: lower-roman;
        margin-top: 0;
    }
    ol.ur {
        list-style-type: upper-roman;
        margin-top: 0;
        padding-left: 35px;
    }
    ol li{
        margin-bottom: 6px;
    }

    ol.la {
        list-style-type: lower-alpha;
    }
    .capital-heading{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 6px;
    }
    ol.ur > ol{
        padding-left: 14px;
    }
</style>

<body>
<div class="annexure">
    <p style="text-align: center;"><b>Annexure-B</b></p>
    <div style="padding-bottom: 6px;"><b>List of Critical Illnesses</b></div>
    <div class="capital-heading"><span>1. &nbsp;</span> CANCER OF SPECIFIED SEVERITY </div>
    <ol class="ur">
        <li>A malignant tumor characterized by the uncontrolled growth and spread of malignant cells with invasion and destruction of normal tissues. This diagnosis must be supported by histological evidence of malignancy. The term cancer includes leukemia, lymphoma and sarcoma.</li>
        <li>The following are excluded –</li>
        <ol class="lr">
            <li>All tumors which are histologically described as carcinoma in situ, benign, pre-malignant, borderline malignant, low malignant potential, neoplasm of unknown behavior, or non-invasive, including but not limited to: Carcinoma in situ of breasts, Cervical dysplasia CIN-1, CIN -2 and CIN-3</li>
            <li>Any non-melanoma skin carcinoma unless there is evidence of metastases to lymph nodes or beyond;</li>
            <li>Malignant melanoma that has not caused invasion beyond the epidermis; </li>
            <li>All tumors of the prostate unless histologically classified as having a Gleason score greater than 6 or having progressed to at least clinical TNM classification T2N0M0;</li>
            <li>All thyroid cancers histologically classified as T1N0M0 (TNM Classification) or below;</li>
            <li>Chronic lymphocytic leukaemia less than RAI stage 3;</li>
            <li>Non-invasive papillary cancer of the bladder histologically described as TaN0M0 or of a lesser classification, </li>
            <li>All Gastro-Intestinal Stromal Tumors histologically classified as T1N0M0 (TNM Classification) or below and with mitotic count of less than or equal to 5/50 HPFs; </li>

        </ol>
    </ol>
    <div>
        <div class="capital-heading"><span>2. &nbsp;</span>MYOCARDIAL INFARCTION</div>
        <div>(First Heart Attack of specific severity) </div>
        <ol class="ur">
            <li>The first occurrence of heart attack or myocardial infarction, which means the death of a portion of the heart muscle as a result of inadequate blood supply to the relevant area. The diagnosis for Myocardial Infarction should be evidenced by all of the following criteria: </li>
            <ol class="lr">
                <li>A history of typical clinical symptoms consistent with the diagnosis of acute myocardial infarction (For e.g. typical chest pain) </li>
                <li>New characteristic electrocardiogram changes</li>
                <li>Elevation of infarction specific enzymes, Troponins or other specific biochemical markers.</li>
            </ol>
            <li>The following are excluded: </li>
            <ol class="lr">
                <li>Other acute Coronary Syndromes</li>
                <li>Any type of angina pectoris</li>
                <li>A rise in cardiac biomarkers or Troponin T or I in absence of overt ischemic heart disease OR following an intra-arterial cardiac procedure.</li>
            </ol>
        </ol>
        <div class="capital-heading"><span>3.&nbsp;</span>OPEN CHEST CABG </div>
        <ol class="ur">
            <li>The actual undergoing of heart surgery to correct blockage or narrowing in one or more coronary artery(s), by coronary artery bypass grafting done via a sternotomy (cutting through the breast bone) or minimally invasive keyhole coronary artery bypass procedures. The diagnosis must be supported by a coronary angiography and the realization of surgery has to be confirmed by a cardiologist.</li>
            <li>The following are excluded: </li>
            <ol class="lr">
                <li>Angioplasty and/or any other intra-arterial procedures </li>
            </ol>
        </ol>

        <div class="capital-heading"><span>4.&nbsp;</span>OPEN HEART REPLACEMENT OR REPAIR OF HEART VALVES</div>
        <ol class="ur">
            <li>The actual undergoing of open-heart valve surgery is to replace or repair one or more heart valves, as a consequence of defects in, abnormalities of, or disease-affected cardiac valve(s). The diagnosis of the valve abnormality must be supported by an echocardiography and the realization of surgery has to be confirmed by a specialist medical practitioner. Catheter based techniques including but not limited to, balloon valvotomy/valvuloplasty are excluded. </li>
        </ol>
        <div class="capital-heading"><span>5.&nbsp;</span>COMA OF SPECIFIED SEVERITY </div>
        <ol class="ur">
            <li>A state of unconsciousness with no reaction or response to external stimuli or internal needs. This diagnosis must be supported by evidence of all of the following: </li>
            <ol class="lr">
                <li>no response to external stimuli continuously for at least 96 hours;</li>
                <li>life support measures are necessary to sustain life; and </li>
                <li>permanent neurological deficit which must be assessed at least 30 days after the onset of the coma.</li>
            </ol>
            <li>The condition has to be confirmed by a specialist medical practitioner. Coma resulting directly from alcohol or drug abuse is excluded. </li>
        </ol>
        <div class="capital-heading"><span>6.&nbsp;</span>KIDNEY FAILURE REQUIRING REGULAR DIALYSIS</div>
        <ol class="ur">
            <li>
                End stage renal disease presenting as chronic irreversible failure of both kidneys to function, as a result of which either regular renal dialysis (haemodialysis or peritoneal dialysis) is instituted or renal transplantation is carried out. Diagnosis has to be confirmed by a specialist medical practitioner.
            </li>
        </ol>
        <div class="capital-heading"><span>7.&nbsp;</span>STROKE RESULTING IN PERMANENT SYMPTOMS</div>
        <ol class="ur">
            <li>Any cerebrovascular incident producing permanent neurological sequelae. This includes infarction of brain tissue, thrombosis in an intracranial vessel, haemorrhage and embolisation from an extracranial source. Diagnosis has to be confirmed by a specialist medical practitioner and evidenced by typical clinical symptoms as well as typical findings in CT Scan or MRI of the brain. Evidence of permanent neurological deficit lasting for at least 3 months has to be produced.</li>
            <li>The following are excluded: </li>
            <ol class="lr">
                <li>Transient ischemic attacks (TIA)</li>
                <li>Traumatic injury of the brain</li>
                <li>Vascular disease affecting only the eye or optic nerve or vestibular functions.</li>
            </ol>
        </ol>
        <div class="capital-heading"><span>8.&nbsp;</span>MAJOR ORGAN /BONE MARROW TRANSPLANT </div>
        <ol class="ur">
            <li>The actual undergoing of a transplant of:</li>
            <ol class="lr">
                <li>One of the following human organs: heart, lung, liver, kidney, pancreas, that resulted from irreversible end-stage failure of the relevant organ, or</li>
                <li>Human bone marrow using haematopoietic stem cells. The undergoing of a transplant has to be confirmed by a specialist medical practitioner.</li>
            </ol>
            <li>The following are excluded: </li>
            <ol class="lr">
                <li>Other stem-cell transplants</li>
                <li>Where only islets of langerhans are transplanted </li>
            </ol>
        </ol>
        <div class="capital-heading"><span>9.&nbsp;</span>PERMANENT PARALYSIS OF LIMBS </div>
        <ol class="ur">
            <li>Total and irreversible loss of use of two or more limbs as a result of injury or disease of the brain or spinal cord. A specialist medical practitioner must be of the opinion that the paralysis will be permanent with no hope of recovery and must be present for more than 3 months.</li>
        </ol>
        <div class="capital-heading"><span>10.&nbsp;</span>MOTOR NEURON DISEASE WITH PERMANENT SYMPTOMS</div>
        <ol class="ur">
            <li>Motor neuron disease diagnosed by a specialist medical practitioner as spinal muscular atrophy, progressive bulbar palsy, amyotrophic lateral sclerosis or primary lateral sclerosis. There must be progressive degeneration of corticospinal tracts and anterior horn cells or bulbar efferent neurons. There must be current significant and permanent functional neurological impairment with objective evidence of motor dysfunction that has persisted for a continuous period of at least 3 months. </li>
        </ol>
        <div class="capital-heading"><span>11.&nbsp;</span>MULTIPLE SCLEROSIS WITH PERSISTING SYMPTOMS </div>
        <ol class="ur">
            <li>The unequivocal diagnosis of Definite Multiple Sclerosis confirmed and evidenced by all of the following:</li>
            <ol class="lr">
                <li>investigations including typical MRI findings which unequivocally confirm the diagnosis to be multiple sclerosis and</li>
                <li>there must be current clinical impairment of motor or sensory function, which must have persisted for a continuous period of at least 6 months. </li>
            </ol>
            <li>Neurological damage due to SLE is excluded. </li>
        </ol>
        <div class="capital-heading"><span>12.&nbsp;</span>BENIGN BRAIN TUMOR</div>
        <ol class="ur">
            <li>Benign brain tumor is defined as a life threatening, non-cancerous tumor in the brain, cranial nerves or meninges within the skull. The presence of the underlying tumor must be confirmed by imaging studies such as CT scan or MRI.</li>
            <li>This brain tumor must result in at least one of the following and must be confirmed by the relevant medical specialist. </li>
            <ol class="lr">
                <li>Permanent Neurological deficit with persisting clinical symptoms for a continuous period of at least 90 consecutive days or </li>
                <li>Undergone surgical resection or radiation therapy to treat the brain tumor. </li>
            </ol>
            <li><div>The following conditions are excluded:</div>
                Cysts, Granulomas, malformations in the arteries or veins of the brain, hematomas, abscesses, pituitary tumors, tumors of skull bones and tumors of the spinal cord.</li>
        </ol>
        <div class="capital-heading"><span>13.&nbsp;</span>BLINDNESS </div>
        <ol class="ur">
            <li>Total, permanent and irreversible loss of all vision in both eyes as a result of illness or accident.</li>
            <li>The Blindness is evidenced by:</li>
            <ol class="lr">
                <li>corrected visual acuity being 3/60 or less in both eyes or ; </li>
                <li>the field of vision being less than 10 degrees in both eyes.</li>
            </ol>
            <li> The diagnosis of blindness must be confirmed and must not be correctable by aids or surgical procedure. </li>
        </ol>
        <div class="capital-heading"><span>14.&nbsp;</span>END STAGE LUNG FAILURE</div>
        <ol class="ur">
            <li>End stage lung disease, causing chronic respiratory failure, as confirmed and evidenced by all of the following: </li>
            <ol class="lr">
                <li>FEV1 test results consistently less than 1 litre measured on 3 occasions 3 months apart; and </li>
                <li>Requiring continuous permanent supplementary oxygen therapy for hypoxemia; and </li>
                <li>Arterial blood gas analysis with partial oxygen pressure of 55mmHg or less (PaO2 < 55mmHg); and</li>
                <li>Dyspnea at rest.</li>
            </ol>
        </ol>
        <div class="capital-heading"><span>15.&nbsp;</span>END STAGE LIVER FAILURE</div>
        <ol class="ur">
            <li>Permanent and irreversible failure of liver function that has resulted in all three of the following:
                <div>Permanent jaundice; and Ascites; and Hepatic encephalopathy</div>
            </li>
            <li>Liver failure secondary to drug or alcohol abuse is excluded.</li>
        </ol>
        <div class="capital-heading"><span>16.&nbsp;</span>LOSS OF SPEECH</div>
        <ol class="ur">
            <li>Total and irrecoverable loss of the ability to speak as a result of injury or disease to the vocal cords. The inability to speak must be established for a continuous period of 12 months. This diagnosis must be supported by medical evidence furnished by an Ear, Nose, Throat (ENT) specialist. </li>
        </ol>
        <div class="capital-heading"><span>17.&nbsp;</span>LOSS OF LIMBS</div>
        <ol class="ur">
            <li>The physical separation of two or more limbs, at or above the wrist or ankle level limbs as a result of injury or disease. This will include medically necessary amputation necessitated by injury or disease. The separation has to be permanent without any chance of surgical correction. Loss of Limbs resulting directly or indirectly from self-inflicted injury, alcohol or drug abuse is excluded. </li>
        </ol>
        <div class="capital-heading"><span>18.&nbsp;</span>MAJOR HEAD TRAUMA</div>
        <ol class="ur">
            <li>Accidental head injury resulting in permanent Neurological deficit to be assessed no sooner than 3 months from the date of the accident. This diagnosis must be supported by unequivocal findings on Magnetic Resonance Imaging, Computerized Tomography, or other reliable imaging techniques. The accident must be caused solely and directly by accidental, violent, external and visible means and independently of all other causes.</li>
            <li>The Accidental Head injury must result in an inability to perform at least three (3) of the following Activities of Daily Living either with or without the use of mechanical equipment, special devices or other aids and adaptations in use for disabled persons. For the purpose of this benefit, the word “permanent” shall mean beyond the scope of recovery with current medical knowledge and technology.</li>
            <li>The Activities of Daily Living are:</li>
            <ol class="lr">
                <li>Washing: the ability to wash in the bath or shower (including getting into and out of the bath or shower) or wash satisfactorily by other means;</li>
                <li>Dressing: the ability to put on, take off, secure and unfasten all garments and, as appropriate, any braces, artificial limbs or other surgical appliances; </li>
                <li>Transferring: the ability to move from a bed to an upright chair or wheelchair and vice versa;</li>
                <li>Mobility: the ability to move indoors from room to room on level surfaces; </li>
                <li>Toileting: the ability to use the lavatory or otherwise manage bowel and bladder functions so as to maintain a satisfactory level of personal hygiene; </li>
                <li>Feeding: the ability to feed oneself once food has been prepared and made available.</li>
            </ol>
            <li>The following are excluded: </li>
            <ol class="lr">
                <li>Spinal cord injury; </li>
            </ol>
        </ol>
        <div class="capital-heading"><span>19.&nbsp;</span>PRIMARY (IDIOPATHIC) PULMONARY HYPERTENSION</div>
        <ol class="ur">
            <li>An unequivocal diagnosis of Primary (Idiopathic) Pulmonary Hypertension by a Cardiologist or specialist in respiratory medicine with evidence of right ventricular enlargement and the pulmonary artery pressure above 30 mm of Hg on Cardiac Cauterization. There must be permanent irreversible physical impairment to the degree of at least Class IV of the New York Heart Association Classification of cardiac impairment. </li>
            <li>The NYHA Classification of Cardiac Impairment are as follows: </li>
            <ol class="lr">
                <li>Class III: Marked limitation of physical activity. Comfortable at rest, but less than ordinary activity causes symptoms.</li>
                <li>Class IV: Unable to engage in any physical activity without discomfort. Symptoms may be present even at rest. </li>
            </ol>
            <li>Pulmonary hypertension associated with lung disease, chronic hypoventilation, pulmonary thromboembolic disease, drugs and toxins, diseases of the left side of the heart, congenital heart disease and any secondary cause are specifically excluded. </li>
        </ol>
        <div class="capital-heading"><span>20.&nbsp;</span>THIRD DEGREE BURNS</div>
        <ol class="ur">
            <li>There must be third-degree burns with scarring that cover at least 20% of the body’s surface area. The diagnosis must confirm the total area involved using standardized, clinically accepted, body surface area charts covering 20% of the body surface area.</li>
        </ol>

    </div>
</div>
</body>