<style>
    .annexure{
      font-size:14px;
      font-family: sans-serif;
      margin: 10pt 40pt 20pt 40pt;
    }
    ol.lr {
        list-style-type: lower-roman;
        margin-top: 0;
    }
    ol.ur {
        list-style-type: upper-roman;
        margin-top: 0;
        padding-left: 35px;
    }
    ol li{
        margin-bottom: 6px;
    }

    ol.la {
        list-style-type: lower-alpha;
    }
    .capital-heading{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 6px;
    }
    ol.ur > ol{
        padding-left: 14px;
    }
</style>
<body>
<div class="annexure">
    <p style="text-align: center;"><b><u>Annexure B</u></b></p>
    <h4>EXCLUSIONS APPLICABLE TO FIXED DAILY HOSPITALISATION CASH BENEFIT</h4>
<p>No benefit shall be payable for any claim under Fixed Daily Hospitalisation Cash Benefit in respect of a Life Insured, directly or indirectly for, caused by, arising from or in any way attributable to any of the following:</p>
<ol>
    <li>Any Illness, or Accident causing the Injury leading to the Hospitalization, which has occurred prior to the Date of Commencement of Risk under the Policy.</li>
    <li>Any Hospitalization for treatment of Pre-Existing Diseases or its direct complications shall be excluded until the expiry of 36 months of continuous coverage after the Date of Commencement of Risk in the Policy.
        In case of enhancement of Sum Assured the exclusion shall apply afresh to the extent of Sum Assured increase.
        Coverage under the Policy after the expiry of 36 months for any Pre-Existing Diseases is subject to the same being declared in the Proposal Form and accepted by Us.
    </li>
    <li>Any procedure/treatment which is carried out as a day care treatment, or which requires less than 24 continuous hours of Hospitalization.</li>
    <li>Any admission for treatment arising from or traceable to childbirth (including complicated deliveries and caesarean sections incurred during Hospitalization) except surgical management of ectopic pregnancy. Any admission for treatment arising from or traceable to miscarriage (unless due to an Accident) and lawful medical termination of pregnancy during the Policy Term.</li>
    <li>Any treatment performed solely due to cosmetic or aesthetic reasons, weight reduction, change of sex, and lasik Surgery unless not for cosmetic purpose.</li>
    <li>Any admission for any dental treatment except any dental Surgery or facial reconstruction being performed under emergency care due to an Accident.</li>
    <li>Hospitalization for the sole purpose of traction, physiotherapy or any ailment for which Hospitalization is not warranted due to advancement in medical technology.</li>
    <li>Treatment by a family member and self-medication or any treatment that is not scientifically recognized.</li>
    <li>Any unproven/experimental treatment: Hospitalization for or due to any unproven treatment, services and supplies for or in connection with any treatment. Unproven treatments are treatments, procedures or supplies that lack significant medical documentation to support their effectiveness.</li>
    <li>Any alternative treatments except treatment taken under Ayurveda, Unani, Sidha, and Homoeopathy in a Government Hospital or any institute recognized by the Government and/or accredited by Quality Council of India / National Accreditation Board for Hospitals and healthcare providers.</li>
    <li>Any treatment received outside India unless specifically covered and specified in the Policy.</li>
    <li>Routine medical, dental, eye and ear examinations are not covered unless specifically covered and specified in the Policy.</li>
    <li>Circumcision unless medically necessary.</li>
    <li>Any Hospitalization primarily for diagnostics and evaluation purposes only are excluded.</li>
    <li>Any Hospitalization necessitated due to participation as a professional in hazardous or adventure sports, including but not limited to, para-jumping, rock climbing, mountaineering, rafting, motor racing, horse racing or scuba diving, hang gliding, sky diving, deep-sea diving.</li>
    <li>Any Hospitalization directly arising from or consequent upon any Life Insured committing or attempting to commit a breach of law with criminal intent.</li>
    <li>Hospitalization in any Hospital or by any Medical Practitioner or any other provider specifically excluded by Us and disclosed on its website / notified to You are not admissible. However, in case of life-threatening situations or following an Accident, expenses up to the stage of stabilization are payable but not the complete claim.</li>
    <li>Any Hospitalization for treatment of Alcoholism, drug or substance abuse or any addictive condition and consequences thereof.</li>
    <li>Any Hospitalization for treatment for correction of eye sight due to refractive error less than 7.5 dioptres.</li>
    <li>Any Hospitalization due to intentional self-injury, suicide or attempted suicide.</li>
    <li>Any Hospitalization due to participation by the Life Insured in any flying activity, except as a bona fide, fare-paying passenger of a recognized airline on regular routes and on a scheduled timetable.</li>
    <li>Any Hospitalization arising out of or attributable to foreign invasion, act of foreign enemies, hostilities, warlike operations (whether war be declared or not or while performing duties in the armed forces of any country during war or at peace time), participation in any naval, military or airforce operation, civil war, public defense, rebellion, revolution, insurrection, military or usurped power.</li>
    <li>Any Hospitalization arising from or caused by ionizing radiation or contamination by radioactivity from any nuclear fuel (explosive or hazardous form) or resulting from or from any other cause or event contributing concurrently or in any other sequence to the loss, claim or expense from any nuclear waste from the combustion of nuclear fuel, nuclear, chemical or biological attack.
        <ol type="a">
            <li>Nuclear attack or weapons means the use of any nuclear weapon or device or waste or combustion of nuclear fuel or the emission, discharge, dispersal, release or escape of fissile/fusion material emitting a level of radioactivity capable of causing any Illness, incapacitating disablement, or death.</li>
            <li>Chemical attack or weapons means the emission, discharge, dispersal, release, or escape of any solid, liquid, or gaseous chemical compound which, when suitably distributed, is capable of causing any Illness, incapacitating disablement or death.</li>
            <li>Biological attack or weapons means the emission, discharge, dispersal, release or escape of any pathogenic (disease producing) microorganisms and/or biologically produced toxins (including genetically modified organisms and chemically synthesized toxins) which are capable of causing any Illness, incapacitating disablement or death.</li>
        </ol>
    </li>
    <li>Any Hospitalization outside India.</li>
    <li>Any Hospitalization related to donor treatment, including screening, surgery to remove organs from the donor, in case of transplant surgery.</li>
    <li>Any Hospitalization for treatment of congenital external anomalies or any complications or conditions arising therefrom including any developmental conditions of the Life Insured.</li>
    <li>Any Hospitalization for Diagnosis or treatment related to sleep disorder or sleep apnea syndrome or general debility convalescence.</li>
    <li>Any Hospitalization due to deliberate exposure to exceptional danger (except in an attempt to save human life).</li>
</ol>
</div>
</body>

