<style>
    .annexure{
      font-size:14px;
      font-family: sans-serif;
      margin: 10pt 40pt 20pt 40pt;
    }
    ol.lr {
        list-style-type: lower-roman;
        margin-top: 0;
    }
    ol.ur {
        list-style-type: upper-roman;
        margin-top: 0;
        padding-left: 35px;
    }
    ol li{
        margin-bottom: 6px;
    }

    ol.la {
        list-style-type: lower-alpha;
    }
    .capital-heading{
        text-transform: uppercase;
        font-weight: bold;
        padding-top: 10px;
        padding-bottom: 6px;
    }
    ol.ur > ol{
        padding-left: 14px;
    }
</style>
<body>
<div class="annexure">
    <p style="text-align: center;"><b><u>Annexure - C <br> Exclusions for Fixed Surgical Care Benefit</u></b></p>
    <p>No benefit shall be payable for any claim under the Fixed Surgical Care benefit in respect of a Life Insured, directly or indirectly caused by, arising from or in any way attributable to any of the following:</p>

    <ol>
        <li>Pre-Existing Diseases
            <ol type="a">
                <li>Expenses related to the treatment of a Pre-Existing Diseases (PED) and its direct complications shall be excluded until the expiry of 36 months of continuous coverage after the Date of Commencement of Risk under the Policy.</li>
                <li>In case of enhancement of Sum Assured the exclusion shall apply afresh to the extent of Sum Assured increase.</li>
                <li>If the Life Insured is continuously covered without any break as defined under the portability norms of the extant IRDAI (Insurance Product) Regulations, 2024 as amended from time to time then Waiting Period for the Fixed Surgical Care Benefit same would be reduced to the extent of prior coverage.</li>
                <li>Coverage under the Policy after the expiry of 36 months for any Pre-Existing Diseases is subject to the same being declared at the time of Proposal Form and accepted by Insurer.</li>
            </ol>
        </li>
        <li>Specified disease/procedure waiting period
            <ol type="a">
                <li>Expenses related to the treatment of the following listed conditions, surgeries/treatments shall be excluded until the expiry of 24/36 months of continuous coverage, as may be the case after the Date of Commencement of Risk under the Policy or Revival of the Policy. This exclusion shall not be applicable for claims arising due to an Accident.</li>
                <li>In case of enhancement of Sum Assured the exclusion shall apply afresh to the extent of Sum Assured increase.</li>
                <li>If any of the specified disease/procedure falls under the waiting period specified for Pre-Existing Diseases, then the longer of the two waiting periods shall apply.</li>
                <li>The waiting period for listed conditions shall apply even if contracted after the Date of Commencement of Risk under the Policy or declared and accepted without a specific exclusion.</li>

                i. 24 Months waiting period for:
                    <ol type="1">
                        <li>Benign ENT disorders</li>
                        <li>Tonsillectomy</li>
                        <li>Adenoidectomy</li>
                        <li>Mastoidectomy</li>
                        <li>Tympanoplasty</li>
                        <li>Hysterectomy</li>
                        <li>All internal and external benign tumours, cysts, polyps of any kind, including benign breast lumps</li>
                        <li>Benign prostate hypertrophy</li>
                        <li>Cataract and age-related eye ailments</li>
                        <li>Gastric/Duodenal Ulcer</li>
                        <li>Gout and Rheumatism</li>
                        <li>Hernia of all types</li>
                        <li>Hydrocele</li>
                        <li>Non-Infective Arthritis</li>
                        <li>Piles, Fissures and Fistula in anus</li>
                        <li>Pilonidal sinus, Sinusitis and related disorders</li>
                        <li>Prolapse inter Vertebral Disc and Spinal Diseases unless arising from Accident</li>
                        <li>Calculi in urinary system, Gall Bladder, biliary and pancreatic system and salivary duct excluding malignancy.</li>
                        <li>Varicose Veins and Varicose Ulcers</li>
                        <li>Internal Congenital Anomalies</li>
                    </ol>
                ii. 36 Months waiting period for:
                    <ol type="1">
                        <li>Treatment for joint replacement unless arising from Accident</li>
                        <li>Age-related Osteoarthritis & Osteoporosis leading to any surgery including joint replacement</li>
                        <li>Investigation & Evaluation
                            <ol type="a">
                                <li>Expenses related to any admission primarily for diagnostics and evaluation purposes only are excluded.</li>
                                <li>Any diagnostic expenses which are not related or not incidental to the current Diagnosis and treatment are excluded.</li>
                            </ol>
                        </li>
                        <li>Rest cure, rehabilitation, and respite care<br>
                            Expenses related to any admission primarily for enforced bed rest and not for receiving treatment. This also includes:
                                    <ol type="i">
                                        <li>Custodial care either at home or in a nursing facility for personal care such as help with activities of daily living such as bathing, dressing, moving around either by skilled nurses or assistant or non-skilled persons.</li>
                                        <li>Any services for people who are terminally ill to address physical, social, emotional and spiritual needs.</li>
                                    </ol>

                        </li>

                        <li>Obesity/Weight Control<br>
                                Expenses related to the surgical treatment of obesity that does not fulfill all the below conditions:
                                <ol type="1">
                                    <li>Surgery to be conducted is upon the advice of the Medical Practitioner</li>
                                    <li>The Surgery/procedure conducted should be supported by clinical protocols</li>
                                    <li>The Life Insured has to be 18 years of Age or older; and</li>
                                    <li>Body Mass Index (BMI):</li>
                                    <ol type="a">
                                        <li>greater than or equal to 40 or</li>
                                        <li>greater than or equal to 35 in conjunction with any of the following severe co-morbidities following failure of less invasive methods of weight loss:</li>
                                        <ol type="i">
                                            <li>Obesity-related cardiomyopathy</li>
                                            <li>Coronary heart disease</li>
                                            <li>Severe Sleep Apnea</li>
                                            <li>Uncontrolled Type2 Diabetes</li>
                                        </ol>
                                    </ol>
                                </ol>
                        </li>

                        <li>Change-of-gender treatments: Expenses related to any treatment, including surgical management, to change characteristics of the body to those of the opposite sex.</li>
                        <li>Cosmetic or plastic Surgery: Expenses for cosmetic or plastic surgery or any treatment to change appearance unless for reconstruction following an Accident, Burn(s) or Cancer or as part of medically necessary treatment to remove a direct and immediate health risk to the insured. For this to be considered a medical necessity, it must be certified by the attending Medical Practitioner.</li>
                        <li>Hazardous or Adventure sports: Expenses related to any treatment necessitated due to participation as a professional in hazardous or adventure sports, including but not limited to para-jumping, rock climbing, mountaineering, rafting, motor racing, horse racing or scuba diving, hand gliding, sky diving, deep-sea diving.</li>
                        <li>Breach of law: Expenses for treatment directly arising from or consequent upon any Life Insured committing or attempting to commit a breach of law with criminal intent.</li>

                        <li>Excluded Providers: Expenses incurred towards treatment in any Hospital or by any Medical Practitioner or any other provider specifically excluded by Us and disclosed in its website/notified to You are not admissible. However, in case of life-threatening situations or following an Accident, expenses up to the stage of stabilization are payable but not the complete claim.</li>


                        <li>Treatment for, alcoholism, drug or substance abuse or any addictive condition and consequences thereof.</li>
                        <li>Any treatment in an establishment that is not a Hospital. This includes:
                            <ol>
                                    <ol type="a">
                                        <li>Treatments received in health hydros, nature cure clinics, spas or similar establishments or private beds registered as a nursing home attached to such establishments or where admission is arranged wholly or partly for domestic reasons.</li>
                                        <li>Out-patient treatment.</li>
                                        <li>Domiciliary hospitalization or treatment.</li>
                                        <li>Any treatment taken in a clinic, rest home, convalescent home for the addicted, detoxification center, sanatorium, home for the aged, remodeling clinic or similar institutions.</li>
                                    </ol>
                            </ol>
                        </li>
                        <li>Refractive Error: Expenses related to the treatment for correction of eye sight due to refractive error less than 7.5 dioptres.
                        </li>

                        <li>Unproven Treatments: Expenses related to any unproven treatment, services and supplies for or in connection with any treatment. Unproven treatments are treatments, procedures or supplies that lack significant medical documentation to support their effectiveness.
                        </li>

                        <li>
                            <p>Any Surgery arising under alternative treatments except treatment taken under Ayurveda, Unani, Sidha and Homoeopathy in a Government Hospital or any institute recognized by the Government and/or accredited by Quality Council of India / National Accreditation Board for Hospitals and Healthcare Providers.</p>
                        </li>

                        <li>Sterility and Infertility<br>
                            Expenses related to sterility and infertility. This includes:
                            <ol type="a">
                                <li>Any type of contraception, sterilization</li>
                                <li>Assisted reproduction services including artificial insemination and advanced reproductive technologies such as IVF, ZIFT, GIFT, ICSI</li>
                                <li>Gestational surrogacy</li>
                                <li>Reversal of sterilization</li>
                            </ol>
                        </li>
                        <li>Maternity
                            <ol type="a">
                            <li>Medical treatment expenses traceable to childbirth (including complicated deliveries and caesarean sections incurred during hospitalization) except ectopic pregnancy;</li>
                            <li>Expenses towards miscarriage (unless due to an Accident) and lawful medical termination of pregnancy during the Policy Term.</li>
                            </ol>

                        </li>
                        <li>
                            <p>Any expenses related to intentional self-injury, suicide or attempted suicide.</p>
                        </li>
                        <li>
                            <p>Participation by the Life Insured in any flying activity, except as a bona fide, fare-paying passenger of a recognized airline on regular routes and on a scheduled timetable.</p>
                        </li>
                        <li>
                            <p>Expenses arising out of or attributable to foreign invasion, act of foreign enemies, hostilities, warlike operations (whether war be declared or not or while performing duties in the armed forces of any country during war or at peace time), participation in any naval, military or airforce operation, civil war, public defense, rebellion, revolution, insurrection, military or usurped power</p>
                        </li>
                        <li>
                            <p>Expenses arising from or caused by ionizing radiation or contamination by radioactivity from any nuclear fuel (explosive or hazardous form) or resulting from or from any other cause or event contributing concurrently or in any other sequence to the loss, claim or expense from any nuclear waste from the combustion of nuclear fuel, nuclear, chemical or biological attack.</p>
                            <ol type="a">
                                <li>Nuclear attack or weapons means the use of any nuclear weapon or device or waste or combustion of nuclear fuel or the emission, discharge, dispersal, release or escape of fissile/ fusion material emitting a level of radioactivity capable of causing any Illness, incapacitating disablement or death.</li>
                                <li>Chemical attack or weapons means the emission, discharge, dispersal, release or escape of any solid, liquid or gaseous chemical compound which, when suitably distributed, is capable of causing any Illness, incapacitating disablement or death.</li>
                                <li>Biological attack or weapons means the emission, discharge, dispersal, release or escape of any pathogenic (disease producing) microorganisms and/or biologically produced toxins (including genetically modified organisms and chemically synthesized toxins) which are capable of causing any Illness, incapacitating disablement or death.</li>
                            </ol>
                        </li>
                        <li>
                            <p>Treatment taken outside India</p>
                        </li>
                        <li>
                            <p>Circumcision unless necessary for treatment of an Illness or as may be necessitated due to an Accident.</p>
                        </li>
                        <li>
                            <p>All expenses related to donor treatment, including screening, surgery to remove organs from the donor, in case of transplant surgery. </p>
                        </li>
                        <li>
                            <p>Congenital external anomalies or any complications or conditions arising therefrom including any developmental conditions of the Life Insured.</p>
                        </li>
                        <li>
                            <p>Non-allopathic treatment or treatment related to any unrecognized systems of medicine.</p>
                        </li>

                        <li>
                            <p>Any treatment related to sleep disorder or sleep apnea syndrome or general debility convalescence.</p>
                        </li>
                        <li>
                            <p>Deliberate exposure to exceptional danger (except in an attempt to save human life).</p>
                        </li>
                        <li>
                            <p>All preventive care, vaccination including inoculation and immunizations (except in case of post bite treatment) and tonics. </p>
                        </li>

                        <li>
                            <p>Expenses related to any admission, Surgery and treatment primarily due to hormone replacement therapy and any complications arising therefrom</p>
                        </li>

                        <li>
                            <p>Dental, orthodontics, periodontics, endodontics or any preventative dentistry no matter who gives the treatment.</p>
                        </li>
                        <li>
                            <p>Ear or body piercing and tattooing or treatment needed as a result of any of these.</p>
                        </li>
                    </ol>
                    </ol>
            </ol>
        </li>
</div>
</body>
